/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);*/

/*@font-face {
  font-family: "SourceSansPro";
  src: url("../lib/ionic/fonts/SourceSansPro-Regular.otf");
  font-weight: normal;
  font-style: normal; }*/

body, p, span, h1, h2, h3, h4, small, input {

  /*font-family: 'Raleway';*/
  font-family: sans-serif;
}

.badge{
  background-color: #fafafa;
  color: #111;
  padding: 4px 0px;
}

.header-badge{
  top: 0px;
  left: 8px;
}

.button .badge {
  position: relative;
  top: -48px; 
}

.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
  background-color: #d60b52;
  color: #fff; }

.btn-filter {
  font-size: 1em;
  padding:2px 4px;
  min-height:0px;
  line-height:0px;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: #444;
  border-color: #444; 
}

.item-radio .item-content {
  padding-right:40px;
}

.item-radio .radio-icon {
  padding: 12px;
  font-size: 18px; 
}

.pink {
  color: #d60b52;
}

.bg-pink {
  background-color: #d60b52;
}

.border-pink {
  border-bottom: 2px solid #d60b52;
}

.black {
  color: #231f20;
}

.orange {
  color: #FE880C;
}

.bg-orange {
  background-color: #FE880C;
}

.border-orange {
  border-bottom: 2px solid #FE880C;
}

.blue {
  color: #00b9f1;
}

.bg-blue {
  background-color: #00b9f1;
}

.border-blue {
  border-bottom: 2px solid #00b9f1;
}

.green {
  color: #1B998B;
}

.bg-green {
  background-color: #1B998B;
}

.border-green {
  border-bottom: 2px solid #1B998B;
}

.white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff;
}

a, .tab-title {
  color: #333;
  text-decoration: none;
}

.tab-item .icon {
  font-size: 25px;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-color: #d60b52;
  padding-top:2px;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  padding-top:2px;
}

.bar-stable .bar .bar-header {
  background-color: #d60b52;
  color: #ffffff;
}

.bar-header {
  border:none !important;
}

.bg-estabelecimento img {
  position: absolute;
  left: -50%;
  top: -50%;
  width: auto;
  height: auto;
  opacity: 0.6;
}

.bg-estabelecimento h1 {
  padding: 50px 50px 0px 50px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px #000;
}

.bg-estabelecimento h2 {
  padding: 0px 50px 0px 50px;
  position: relative;
  z-index: 3;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px #000;
}

.button-square {
  border-radius: 0px;
  font-size:15px;
  padding: 12px;
  text-align:center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.button-facebook, .button-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.bg-grey {
  background-color: #f0f0f0;
}

.button-pink, .button-pink:hover {
  color: #fff;
  background-color: #d60b52 !important;
}

.item-floating-label {
  background-color: rgba(0,0,0,0.5);
}

.item-floating-label .input-label {
  color: #fff !important;
}

.row-dia {
  height: 13.3%;
  margin-top: 20px;
}

.item-select select {
  background: transparent;
  color: #fff;
}

.item-select option {
  color: #000;
}

.platform-ios ion-modal-view {
  margin-top: 20px !important;
}

.button:active, .button:hover {
  /*background-color: #d60b52;*/
  /*background-color: #f1f1f1;*/
}

.select-account {
  color: #333 !important;
}

/*CUSTOM - YORKERS @2017*/

.bar-header {
    border: none !important;
    background: #d60b52;
    /*background: #828181;*/
    color: #f1f1f1!important;
	font-weight:999;
}

h1,h2,h3,h4,h5,h6 {
	/*text-transform:uppercase;*/   /*Retirado por Cleiton*/
}

body {
	background: #f1f1f1!important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-large {
	padding: 10px 18px;
}

.btn-primary {
    color: #000;
    background-color: #ffed00;
    border-color: #ffed00;
    font-weight: bold;
    /*text-transform: uppercase;*/
    border-radius: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
}

.btn-default {
    color: #fff;
    background-color: #d60b52;
    border-color: #d60b52;
    font-weight: bold;
    /*text-transform: uppercase;*/
    border-radius: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
}

a.btn-link {
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 1em;
    color: #d60b52;
}

.btn-active {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #d60b52;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.48);
    margin-top: -60px;
    position: relative;
    top: -9px;
    pointer-events: none;
    cursor: default;
}

.btn-disabled {
    padding: 25px;
    background: #d67094;
    color: #ffffff;
    border-radius: 99px;
    font-size: 17px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bolder;
    text-shadow: -0.6px -0.5px 1px #242424;
}

.input-default {
	
	display: block;
    width: 100%;
    height: 34px;
    padding: 20px 12px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 0!important;
}

.row.bg-estabelecimento {
    background: rgba(0, 0, 0, 0.79);
}

.bg-estabelecimento h1 {
    padding: 50px 50px 0px 50px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 1px 2px #000;
}

.estabelecimento-dia {
    border-radius: 30px;
    padding: 5px;
    background: #d60b52;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 0 0px 0 0;
    color: #fff;
    font-size: 12px;
	text-transform: none;
}

.estabelecimento-dia-black {
    border-radius: 30px;
    padding: 5px;
    background: #333;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 0 5px 0 0;
    color: #fff;
    font-size: 12px;
	text-transform: uppercase;
}

.hidden {
	display:none;
	}

.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;  /*Cleiton - Antes era 5px 10px*/
    width: 35px; /*Cleiton - Antes era auto*/
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 42px;  /*Cleiton - Antes era 13px*/
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 16%;   /*Cleiton - Antes era 9%*/
    top: -36px!important; /*Cleiton - Antes era -5%*/
    font-size: 12px; /*Cleiton - Antes não tinha e o padrão era 16px*/
}

.agenda-div .discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;  /*Cleiton - Antes era 5px 10px*/
    width: 35px;
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 42px;  /*Cleiton - Antes era 13px*/
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 16%; 
    top: -36px!important;
    font-size: 12px; /*Cleiton - Antes não tinha e o padrão era 16px*/
}

.estabelecimentos-div .discount-tag {
  top: -36px!important;
  left: 16%; 
}

.tag-desconto-estabelecimento  {
  background-color: #ffed00;
  border-radius: 0;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #333;
  font-weight: 900;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	padding: 5px 12px;
	position: absolute;
	margin-top: -5px;
	margin-right: 5px;
	left: 38%;
	width: 25%;
  padding-left:0px;
  padding-right:0px;
}
	
.tag-desconto {
	font-size: 1.3em;
	letter-spacing: 2px;
	line-height: 1em;
}

.tag-desconto-texto {
	letter-spacing:0px;
	font-size: 0.8em;
}

.promocao-titulo {
	background: #333;
	font-weight: 900;
	color:#ffffff!important;
	text-transform:uppercase;
	font-size: 1.2em;
	line-height: 1.4em;
}

h3.titulo-promocoes  {
	font-size: 1.5em!important;
}

.socio-estabelecimento {
	font-size: 1em;
	font-weight: 900;
}

.titulo-promocoes:after {
    display: block;
    width: 20%;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 40%;
    margin-top: 12px;
}

.tag-border {
    border: 2px solid;
    font-size: 20px;
    padding: 6px;
    color: #d60b52;
    text-transform: uppercase;
    font-weight: bold;
}

.tag-back {
    text-transform: uppercase;
    background: #333;
    color: #f1f1f1;
    padding: 4px 7px;
    letter-spacing: 3px;
}

.eventos-borda {
    border: 2px solid #333;
    padding: 20px;
    margin: -50px 0px;
    background: rgba(215, 19, 88, 0.76);
}

.eventos-overlay {
    text-align: center;
    color: #333;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.79);
}

.conta-desconto {
    font-size: 1em;
    background: #ffed00;
    /*text-transform: uppercase;*/
    font-weight: bold;
    color: #333;
    /* text-shadow: 2px 1px 3px #000; */
    padding: 10px;
    /*letter-spacing: 0px;*/
    border: 2px solid #ffbc00;
}

.item-floating-label {
    background-color: #ffffff;
	color: #111111!important;
}

.item-floating-label .input-label {
    color: #111111!important;
}

label.item.item-input.item-select {
    background: #ffffff!important;
    color: #000000!important;
}

input {
	color:#000000!important;
}

.input-label {
  font-size: 14px;
	color:#a2a2a2!important;
}

@media (min-width: 600px) {	
	.discount-tag {
	left: 5%;	
	}
	.agenda-div .discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    width: auto;
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 13px;
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 5%;
    top: -5px!important;
	}
}