body {
		font-family: 'Oxygen', sans-serif;
		font-weight: 400;
}

a, a:focus, a:hover {
	color: #D31E86;
}

.btn-primary, .btn-primary:hover {
	background-color: #D31E86;
	border-color: #D31E86;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-form {
	line-height: 60px;
}

.navbar {
	background-color:#ffffff;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: #231F20;
}

.agenda-span {
	padding: 25px;
	background: #E5E5E5;
	color: #231F20;
	border-radius: 99px;
	font-size: 15px;
	cursor: pointer;
	margin: 0 auto;
}

.agenda-span.active {
	background: #D31E86;
	color: #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #D31E86;
}

.nav-footer a {
	background-color: #fff;
	color: #D31E86;
	font-size: 12px;
}

.nav-footer .active a {
	background-color: #fff !important;
	color: #D31E86 !important;
	font-weight: 700;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.add-filtro-categoria {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  bottom: 0 !important;
  width: 100% !important;
  /* Set the fixed height of the footer here */
  height: 60px !important;
}

.required {
	color: #D31E86;
}

.login-estabelecimento {
	display: none;
}

#acessar-login-usuario {
	display: none;
}

.discount-tag {
	background-color: #D31E86; 
	border-radius: 5px; 
	color: #FFF; 
	font-weight: bold; 
	text-align: center; 
	padding: 10px; 
	width:80px; 
	position:absolute; 
	right:20px;
}

.dia-promocao {
	margin-top: 3px;
	border: 1px solid #d0d0d0;
    padding: 4px;
    color: #37361E;
    font-weight: bold;
    border-radius: 5px;
}

.badge-big {
	background-color:  #D31E86;
}