body {
font-family: 'Oxygen', sans-serif;
		font-weight: 400;
}

a, a:focus, a:hover {
	color: #D31E86;
}

.btn-primary, .btn-primary:hover {
	background-color: #D31E86;
	border-color: #D31E86;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-form {
	line-height: 60px;
}

.navbar {
	background-color:#ffffff;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: #231F20;
}

.agenda-span {
	padding: 25px;
	background: #E5E5E5;
	color: #231F20;
	border-radius: 99px;
	font-size: 15px;
	cursor: pointer;
	margin: 0 auto;
}

.agenda-span.active {
	background: #D31E86;
	color: #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #D31E86;
}

.nav-footer a {
	background-color: #fff;
	color: #D31E86;
	font-size: 12px;
}

.nav-footer .active a {
	background-color: #fff !important;
	color: #D31E86 !important;
	font-weight: 700;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.add-filtro-categoria {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.btn-large {
	padding: 15px 30px;
}


.footer {
  bottom: 0 !important;
  width: 100% !important;
  /* Set the fixed height of the footer here */
  height: 60px !important;
}

.required {
	color: #D31E86;
}

.login-estabelecimento {
	display: none;
}

#acessar-login-usuario {
	display: none;
}

.discount-tag {
	background-color: #D31E86;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width:80px;
	position:absolute;
	right:20px;
}

.dia-promocao {
	margin-top: 3px;
	border: 1px solid #d0d0d0;
    padding: 4px;
    color: #37361E;
    font-weight: bold;
    border-radius: 5px;
}

.badge-big {
	background-color:  #D31E86;
}

/*Edições realizadas pela Agência Yorkers - 2017*/

/*default*/

.menu-user:hover {
	border:none!important;
	color:#d60b52!important;
	}

.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: 0px;
    color: #333;
    font-weight: 900;
    top: 10px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}

.thumbnail img {
    height: auto!important;
	}

.navbar-default .navbar-nav>li>a {
    color: #252525;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
	}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #333;
    background-color: transparent;
    border-top: 2px solid #d60b52;
    background: #f9f9f9;
	}


.navbar-default .navbar-nav>li>a:hover {
	    color: #333;
    background-color: transparent;
    border-top: 2px solid #d60b52;
    background: #f9f9f9;
	}

.navbar-toggle {
    margin-top: 24px;
	}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    background: #d60b52;
    border: none;
    border-radius: 0;
    color: #fff!important;
	}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ffed00;
	}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
	}

@media (max-width: 767px) {
	.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: 26px!important;
    color: #333;
    font-weight: 900;
    top: 10px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #333;
    background-color: #383333;
    /* border-top: 2px solid #d60b52; */
    background: #dedddd!important;
	border:none!important;
	}

	.navbar-default .navbar-nav>li>a:hover {
	border:none!important;
	background: #dedddd!important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: 26px!important;
    color: #333;
    font-weight: 900;
    top: 10px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}

.navbar-collapse.collapse {
	display: none !important;
    }

.navbar-collapse.collapse.in {
	display: block !important;
	overflow-x: hidden!important;
	overflow-y: scroll!important;
    }

.navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }

.navbar-header {
        float:none;
    }

.navbar .navbar-nav {
    display: inherit;
    float: none!important;
    vertical-align: top;
	}

.navbar-nav>li {
    float: left;
    width: 100%;
    text-align: center;
	}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #333;
    background-color: #383333;
    /* border-top: 2px solid #d60b52; */
    background: #dedddd!important;
	border:none!important;
	}

.navbar-default .navbar-nav>li>a:hover {
	border:none!important;
	background: #dedddd!important;
	}

}

@media (min-width: 992px) and (max-width: 1200px) {

.thumbnail img {
    height: auto!important;
	}

.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: 26px!important;
    color: #333;
    font-weight: 900;
    top: 10px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 5px;
	}

.navbar-default .navbar-nav>li>a {
    color: #252525;
    font-size: 11.5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
	}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #333;
	border:none!important;
    /* border-top: 2px solid #d60b52; */
    background: #dedddd!important;
	}

.navbar-default .navbar-nav>li>a:hover {
	border:none!important;
	background: #dedddd!important;
	}
}

h4 {
    line-height: 26px;
}

.titulo-borda:after {
display: block;
    width: 10%;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 45%;
    margin-top: 15px;
	}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background: #ffed00;
    transition: 0.5s;
    padding: 15px 18px;
    position: relative;
    bottom: 4px;
    margin-bottom: -4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);
    font-weight: bold;
	letter-spacing: 1px;
	}

.titulo-pagina{
    font-size: 3.5em;
	text-transform: uppercase;
	}

.titulo-topo {
    text-align: center;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/09/9c/6b/099c6baa060cabd25b64010d78eb92d2.jpg);
    padding: 0;
	background-position: 50% 50%!important;
    background-size: 100%!important;
    color: #fff;
    text-shadow: 1px 2px 110px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
	margin-bottom: 50px;
	}

.overlay-topo {
	background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 140px 0 60px;
    margin: 0;
	}

.muted {

	background:#e4e4e4;
	}

.padding-secao {
	padding: 40px 0 0 0;
	}

.home-top video {
	width:100%;
	height:auto;
	}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300!important;
    color: #231F20;
    text-transform: uppercase;
    margin-bottom: 25px;
	}

.form-control:focus {
    border-color: #d60b52;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(214, 11, 82);
	}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 20px 12px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 0!important;
	}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    border-radius: 0!important;
	}

.panel {
    /* margin-bottom: 0; */
    background: transparent;
    border: none;
	}

.pagina {
	padding-bottom: 50px;
	}

/*buttons*/

.btn-default{
    color: #fff;
    background-color: #d60b52;
    border-color: #d60b52;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
	border:0!important;
	}

.btn-default:hover {
	background-color:#a9033d;
	color:#fff;
	border:0!important;

	}


 .btn-primary {
	color: #212121;
    background-color: #ffed00;
    border-color: #ffed00;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
	border:0!important;
	}

.btn-primary:hover , .btn-primary:active{
	background-color:#ffe000;
	color:#111;
	border:0!important;
	}

/*slide video*/

.fade-carousel {
    position: relative;
    height: 90vh;
	}

.fade-carousel .carousel-inner .item {
   height: 90vh;
	}

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
	}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
	}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
	}

.hero h1 {
    font-size: 6em;
    letter-spacing: 10px;
    font-weight: bold!important;
    margin: 0;
    padding: 0;
    color: #d60b52;
	}

.hero h3 {
	color:#ffffff;
	font-weight:bold;
	}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
	}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
	}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.71);
    opacity: .7;
	}


.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    outline: none;
    margin: 20px auto;
	}


@media screen and (min-width: 980px){
    .hero { width: 980px;
		}
	}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em;
		}
	}

/*passo a passo*/

.steps {
	margin: 50px 0;
	}

.steps .glyphicon {
	margin: 0 0 30px 0;
	font-size: 4em;
	color: #d60b52;
	}

.step-by-step {
	margin: 30px 0;
	}

.step-by-step p {
    line-height: 1.5em;
    font-weight: 500;
	font-size: 1.3em;
	}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #231F20;
    text-transform: uppercase;
	}

/*agenda*/

.agenda-titulo {
	font-size: 3em;
	}

@media (min-width: 991px) {
	a.botao-todos {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #d60b52;
	}

	img.home-thumbnail {
    width: 100%;
    height: auto;
	}

	.dia-promocao {
    border-radius: 30px;
    padding: 5px;
    background: #333;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 0 5px 0 0;
    color: #fff;
	font-size: 13px;
	}
}

@media (max-width: 990px) {
	img.home-thumbnail {
    width: 100%;
    height: auto;
	margin-top: 20px;
	}

	a.botao-todos {
    float: none!importannt;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #d60b52;
	}

	.dia-promocao {
    border-radius: 30px;
    padding: 3PX;
    background: #333;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 1PX;
    color: #fff;
    font-size: 13px;
	}
}

.agenda-span {
    padding: 25px;
    background: #d67094;
    color: #ffffff;
    border-radius: 99px;
    font-size: 17px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bolder;
    text-shadow: -0.6px -0.5px 1px #242424;
	}


.agenda-span:hover {
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid #f3be00; */
    background: #ffed00;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    transition: 0.3s;
    position: relative;
    box-shadow: 0px 1px 1px rgba(51, 51, 51, 0.55);
	}

.agenda-span.active  {
	color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #d60b52;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.48);
    margin-top: -60px;
    position: relative;
    top: -9px;
	pointer-events: none;
	cursor: default;
	}

.agenda-span.active:hover  {
	color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #d60b52;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.48);
    margin-top: -60px;
    position: relative;
    top: -9px;
	pointer-events: none;
	cursor: default;
	}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    border: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	}

.caption {
	background: #f5f5f5;
	}

.oferta-titulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 5px 10px;
	margin-bottom: 0;
	}

.oferta-titulo:after {
	display: block;
    width: 50px;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 42%;
    margin-top: 15px;
	}

.oferta-estabelecimento {
    font-size: 1.4em;
    text-align: center;
	padding: 15px 0 0;
	}

.oferta-informacoes {
    text-align: center;
    font-size: 1.2em;
	margin-bottom: 20px;
	}

.oferta-tag-texto {
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: bold;
	}

.oferta-tag-desconto {
	font-size: 2em;
    letter-spacing: 7px;
	margin-right: -7px;
	}

.evento-titulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 5px 10px;
	margin-bottom: 0;
	}

.evento-titulo:after {
	display: block;
    width: 50px;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 42%;
    margin-top: 15px;
	}

.evento-data {
    font-size: 1.4em;
    text-align: center;
	}

.evento-informacoes {
    text-align: center;
    font-size: 1.2em;
	margin-bottom: 20px;
	}

/*app*/


.app {
    padding: 70px 0;
    background: #d60b52;
    color: #fff;
	text-align:center;
	}

.app  p {
	color: #fff!important;
	}

.app-titulo  {
    font-size: 5em;
	font-weight: 200;
	}

.app-botao {
font-size: 1.5em;
    background: #fff;
    color: #d60b52;
    text-shadow: none!important;
    border: 0!important;
    margin-top: 20px;
    padding: 8px 50px;
    margin: 0 3px;
	}

/*depoimentos*/

.depoimentos {
    padding: 40px 0;
	}

.depoimentos h3 {
	text-align:center;
	line-height: 1.3em;
	}

.jumbotron.depoimento-texto-1 {
    background: url(https://yogisurprise.com/wp-content/uploads/2014/09/how-to-travel-happy.jpg);
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #111;
    background-position: 50% 50%;
	padding:0!important;
	border-radius: 0!important;
	background-size: 100% 100%;
	}

.jumbotron.depoimento-texto-2 {
    background: url(http://i.huffpost.com/gen/2741398/thumbs/o-FRIENDS-HAPPY-570.jpg?1);
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #111;
    background-position: 50% 50%;
	padding:0!important;
	border-radius: 0!important;
	background-size: 100% 100%;
	}

.depoimento-overlay {
    background: rgba(0, 0, 0, 0.51);
    padding: 100px 20px;
	min-height: 300px;
	}

.depoimento-box {


	}

/*footer*/

.footer {
    position: relative;
    bottom: 0;
    background: #292929;
    height: auto!important;
    padding: 20px;
    margin: 0;
	color:#fff;
	padding: 40px;
	}

.footer h4{
	color:#fff!important;
	}

a {
    color: #d60b52;
}

a:focus, a:hover {
    color: #ffed00;
	}

.icones-midias {
    font-size: 25px;
    letter-spacing: px;
	}

.footer-links {

	font-size: 15px;
	}

body {
    margin-bottom: 0!important;
    background: #f1f1f1;
	}

/*estabelecimentos*/

.row.estabelecimentos-secao {
    margin-bottom: 20px;
    background: #fff;
    margin: 0 10px;
    padding: 30px 0;
    /* box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.13); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	}

.estabelecimentos-imagem {
	width:100%;
	}

.estabelecimentos-filtro {
	font-size: 2em;
	color:#fff;
	}

.panel.panel-default.estabelecimentos-filtros {
    border: 0;
    box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.29);
	background: #ffffff;
	}

.estabelecimentos-filtros-header {
	background: #333!important;
	color: #fff!important;
	text-align: center;
    text-transform: uppercase;
	}

.list-group {
    padding: 0 20px;
    margin-bottom: 20px;
	}


.list-group-item {
    border-radius: 0!important;
	border: none;
	text-align:center;
	}

.botao-buscar {
    border: 1px solid #d60b52!important;
	}

.estabelecimentos-filtro-titulo {
	color: #333;
    font-size: 1.3em;
    margin: 15px 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    /* text-align: left; */
    font-weight: bold!important;
	}

.estabelecimentos-filtro-titulo:after {
	display: block;
    width: 20%;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 40%;
    margin-top: 15px;
	}

.estabelecimentos-nome a {
    color: #333333;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
	}

.estabelecimentos-categoria {
    font-size: 1em;
    font-weight: bold;
    background: transparent;
    color: #333333;
    padding: 5px;
    position: relative;
    top: -2px;
    border: 2px solid #333333;
	}

.estabelecimentos-informacoes {
    font-size: 1.3em;
	width: 100%;
	}

@media (max-width: 992px) {

	.estabelecimentos-informacoes {
		font-size: 1.3em;
		width: 100%!important;
	}

	.estabelecimentos-box {
		text-align:center!important;
		max-width:100%!important;
		margin-top: 20px;
	}


	.titulo-pagina {
    font-size: 2em;
	}

	.estabelecimentos-desconto {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: 100px;
    position: absolute;
    right: 0!important;
    color: #333;
    font-weight: 900;
    top: -240px!important;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    /* position: relative; */
	}

}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 0;
    padding: 7px;
	}

.estabelecimentos-socio {
   /* font-size: 1.2em;
    background: #96c11f;
    padding: 5px;
    font-size: 1.2em;
	font-weight: bold;
    color: #fff;
	position: relative;
    top: 10px;*/
	font-weight: bold;
    font-size: 1em;
    border: 2px solid #333333;
    padding: 5px;
	top: -2px;
	position:relative;
	}

.estabelecimentos-box {
    text-align: left;
    max-width: 340px;
	}

a.estabelecimentos-botao {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #d60a51;
	}

@media (min-width: 991px) {
   .estabelecimentos-desconto{
	background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: -80px;
    color: #333;
    font-weight: 900;
    top: 75px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}
}

@media (min-width: 1200px) {
	.estabelecimentos-desconto {
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: -140px;
    color: #333;
    font-weight: 900;
    top: 0px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}
}



/*estabelecimento*/

.estabelecimento-imagem {
	/*width:100%;*/
	height: 200px;
  width: auto!important;
	}

.estabelecimento-promocao {

	}

.estabelecimento-titulo {
    padding: 0!important;
	}

.estabelecimento-overlay {
	padding: 50px;
    background: rgba(0, 0, 0, 0.54);
	}

.estabelecimento-promocao-titulo {
font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
	}

.estabelecimento-desconto {
    background: #ffed00;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
	}

.estabelecimento-socio {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
	margin-top: 30px;
	}

.estabelecimento-promocao-titulo:after {
	display: block;
    width: 20%;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 40%;
    margin-top: 15px;
	}

.jumbotron.estabelecimento-titulo.text-center {
    /* background: #d60b52!important; */
    /* padding: 20px!important; */
    background-repeat: no-repeat!important;
    background-size: 100% auto!important;
    background-position: 50% 50%!important;
	}

.estabelecimento-box {
    padding: 30px 0px;
    text-align: center;
    margin: 0 30px;

	}

.estabelecimento-oferta {
    font-size: 1.4em;
    font-weight: bold;
    border: 2px solid #333333;
    padding: 6px;
    color: #f1f1f1;
    background: #333;
    text-transform: uppercase;
	padding: 10px 90px;
	}

.estabelecimento-dia {
	border-radius: 30px;
    padding: 5px;
    background: #d60b52;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 0 5px 0 0;
    color: #fff;
    font-size: 13px;
	}

.estabelecimento-data {
    margin-bottom: 30px;
	}

.estabelecimento-tag{
    background-color: #ffed00;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    width: auto;
    position: absolute;
    right: 0px;
    color: #333;
    font-weight: 900;
    top: -3px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
	}

.estabelecimento-descricao:before {
	display: block;
    width: 60%;
    content: '';
    border-bottom: 1px solid #ddd;
    position: relative;
    left: 20%;
    padding-top: 10px;
	}

.estabelecimento-box-2 {
	background: #fff;
    box-shadow: 2px 2px 1px #333;
    color: #333;
    font-size: 1.4em;
    box-shadow: 2px 2px 1px rgba(51, 51, 51, 0.28);
    text-align: center;
	}

.estabelecimento-categoria {

	border: 2px solid #d60b52!important;
    font-size: 0.4em;
    padding: 5px;
    background: transparent;
    color: #d60b52;
    margin-top: 0;
    margin-left: 10px;
    position: relative;
    top: -6px;
    font-weight: bold;
	}

.estabelecimento-institucional {
	width:100%;
    text-align: center;
	}

.estabelecimento-institucional-titulo {
    font-size: 2em;
    text-transform: uppercase;
	}

/*.estabelecimento-institucional-titulo:after {
	display: block;
    width: 50px;
    content: '';
    border-bottom: 2px solid #d60b52;
    position: relative;
    left: 50%;
    margin-top: 15px;
}*/

.estabelecimento-institucional-descricao {
    font-size: 18px;
	color:#222;
	padding:0 30px 30px;
	text-align:justify;
	}

.estabelecimento-descricao h3 {
    text-align: center;
}

.map iframe {
    margin: 20px 0;
    width: 100%;
	}

.estabelecimento-nome {
	font-size: 25px;
	}

.filtro-selecionado {
    font-weight: bold;
    color: #000;
    margin-left: 20px;
	}

.filtro-selecionado:before {
    content: "\e067";
}

.panel {
	margin-bottom: 0;
	}

/*eventos*/

.eventos-imagem {
	width: 100%;
    height: auto;
	}

.eventos-titulo {
    font-size: 2.5em;
    text-transform: uppercase;
	font-weight: bold;
	}

.eventos-titulo:after {
    display: block;
    width: 20%;
    content: '';
    border-bottom: 2px solid #d60a51;
    position: relative;
    left: 40%;
	}

.eventos-descricao {
	font-size: 1.1em;
}

.eventos-data {
	font-size: 1.8em;
	}

.eventos-overlay {
    text-align: center;
    color: #333;
    min-height: 200px;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.79);
	}

.eventos-borda {
    border: 2px solid #333;
    padding: 20px;
    margin: -120px 50px 80px;
    background: rgba(215, 19, 88, 0.76);
	}

.eventos-show {
	background-position: 50% 50%!important;
	background-repeat: no-repeat!important;
	}

.eventos-descricao-principal {
    font-size: 1.4em;
	}

.eventos-tag {
    padding: 10px;
    font-size: 2em;
	}

/*minha conta*/

.nav-tabs>li {
    float: none!important;
    margin-bottom: -1px;
    display: inline-block;
	}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    text-align: center;
	}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus  {
    color: #333;
    cursor: default;
	background-color: #fff;
    box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 18px;
    letter-spacing: 2px;
	border-radius:10px 10px 0 0;
	padding:15px;
	position: relative;
    bottom: 6px;
    margin-bottom: -6px;
	}

.nav-tabs>li.active>a:hover {
    color: #333;
    cursor: default;
	background-color: #fff;
    box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 18px;
    letter-spacing: 2px;
	border-radius:10px 10px 0 0;
	padding:15px;
	position: relative;
    bottom: 6px;
    margin-bottom: -6px;
	}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background: #d60d53;
    transition: 0.3s;
    padding: 15px 18px;
    position: relative;
    bottom: 4px;
    margin-bottom: -4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);
    font-weight: bold;
	color:#fff;
	letter-spacing: 2px;
	}

.nav-tabs>li>a {
	margin-right: 1px;
    line-height: 1.42857143;
    border: 1px solid #999;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    background: #f1f1f1;
    color: #777;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0;
    border-radius: 10px 10px 0 0;
	}

.conta-plano {
    border: 2px solid;
    font-size: 20px;
    padding: 6px;
    color: #d60b52;
    text-transform: uppercase;
    font-weight: bold;
	}

.conta-validade {
	text-transform: uppercase;
    background: #333;
    color: #f1f1f1;
    padding: 4px 7px;
	letter-spacing: 3px;
	}

.conta-desconto {
	font-size: 1.5em;
    background: #ffed00;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    /* text-shadow: 2px 1px 3px #000; */
    padding: 10px;
    letter-spacing: 2px;
    border: 2px solid #ffbc00;
	}

.cadastro-plano button {
    margin: 10px 0;
    background: #ffd90c;
    width: 80%;
    padding: 15px;
    font-size: 1em;
    color: #333;
    /* text-shadow: 2px 1px 2px #000; */
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.57);
	}

.panel-success .cadastro-aviso{
    color: #d60b52;
    background-color: transparent;
    border: 2px solid;
    font-size: 1.5em;
    margin: 10px 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
	}

.up {

	font-size: 3em;
	font-weight:bold;
}

.cadastro-plano button:hover, .cadastro-plano button:focus, .cadastro-plano button:active {
    background: #d60b52;
    transition: 0.4s;
    padding: 25px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66);
    font-size: 1.2em;
	width:100%;
	}

.cadastro-voucher {
	border: 2px solid;
    padding: 7px;
    font-size: 23px;
    margin: 20px;
    color: #d60b52;
    font-weight: bold;
	}
	
/* Alterações - Junho/2017 - Yorkers */

.form-control {
	padding: 0 10px;
}

.navbar-default .navbar-nav>li>a {
    padding-right: 8px;
	text-align: center;
}

.menu-user {
    background: #fff;
}

/*@media (min-width: 1200px) {
.container {
    width: 1050px;
}
}*/
@media (max-width: 500px) {
.eventos-borda {
    border: 2px solid #333;
    padding: 20px;
    margin: -50px 10px 50px;
    background: rgba(215, 19, 88, 0.76);
}
}

@media (max-width: 600px) {

	.conta-desconto {
    font-size: 1em;
    background: #ffed00;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    /* text-shadow: 2px 1px 3px #000; */
    padding: 10px;
    letter-spacing: 0px;
    border: 2px solid #ffbc00;}
	
	.nav-tabs>li {
    float: none!important;
    margin-bottom: -1px;
    display: inline-block;
    width: 100%;
}
	
	}