<ion-modal-view>
	<ion-content class="bg-blue text-center" style="background: #f1f1f1;">

		<div class="title title-left header-item" style="background-color: #d60b52;height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharCadastro()">
				<i class="ion-chevron-left" style="width: 30px;"></i>
				<span style="vertical-align:middle;">Voltar</span>
			</div>
		</div>

		<div class="row">
			<div class="col">
	  			<img src="img/logo.png" style="width:100%;" />
	  		</div>
		</div>
	   	<div id="passo-1" ng-if="cadastro.passo == 1">
	   		<div class="row">
	     		<div class="col">
	       			<h4 class="text-center"><strong>Caso tenha um voucher digite abaixo:</strong></h4>
	     		</div>
	   		</div>
	   		<label class="item item-input text-center">
		        <input type="text" placeholder="Digite aqui o seu voucher" style="color: #fff;text-align:center;" ng-model="cadastro.voucher" maxlength="30">
	      	</label>
	      	<div class="row" ng-if="cadastro.voucher.length > 0">
	      		<div class="col text-center">
	      			<button class="btn btn-large btn-primary" ng-click="validarVoucher()">Validar</button>
	      		</div>
	      	</div>

	      	<div class="row" style="padding-top:20px;">
	     		<div class="col">
	       			<h4 class="text-center"><strong>Ou escolha um plano para continuar</strong></h4>
	     		</div>
	   		</div>
	   		<div class="row" ng-repeat="plano in planos | orderBy: 'amount'">
	   			<div class="col">
	   				<button class="btn btn-large btn-primary button-block" ng-click="selecionarPlano(plano)">
	   					<strong>{{ plano.name }}</strong> - R$ {{ formatarPreco(plano.amount) }}
	   				</button>
	   				</br></br>
	   			</div>
	   		</div>
	   	</div>
	   	<div id="passo-2" ng-if="cadastro.passo == 2" class="list">
	   		<div class="row">
	     		<div class="col">
	       			<h4 class="text-center"><strong>Preencha seus dados</strong></h4>
	     		</div>
	   		</div>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">Seu nome</span>
		        <input type="text" placeholder="Nome" style="color: #fff;text-align:center;" ng-model="cadastro.dados.nome">
	      	</label>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">Seu CPF (apenas números)</span>
		        <input type="number" placeholder="CPF" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(11,this)"  ng-model="cadastro.dados.cpf" maxlength="11">
	      	</label>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">Seu e-mail</span>
	        	<!-- <input type="email" placeholder="E-mail" style="color: #fff;text-align:center;" ng-model="cadastro.dados.email" ng-blur="validarEmail(cadastro.dados.email)" maxlength="60"> -->
	        	<input type="email" placeholder="E-mail" style="color: #fff;text-align:center;" ng-model="cadastro.dados.email" maxlength="100">
	      	</label>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">Seu CEP (apenas números)</span>
	        	<input type="number" placeholder="CEP" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(8,this)"  ng-model="cadastro.dados.cep" maxlength="8">
	      	</label>
	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-click="cadastrarAuxiliar()">Continuar</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>
	   	<div id="passo-3" ng-if="cadastro.passo == 3" class="list">
	   		<div class="row">
	   			<div class="col">
	   				<h4 class="text-center"><strong>Preencha seus dados de pagamento</strong></h4>
	   			</div>
	   		</div>
	   		<label class="item item-input item-floating-label">
	      		<span class="input-label">Nome no cartão</span>
		        <input type="text" placeholder="Nome do titular do cartão" style="color: #fff;text-align:center;" ng-model="cadastro.dados.cartao.nome" maxlength="25">
	      	</label>
	   		<label class="item item-input item-floating-label">
	      		<span class="input-label">Número do cartão</span>
		        <input type="number" placeholder="Número do cartão" onKeyPress="return check(event,value)" onInput="checkLength(16,this)" style="color: #fff;text-align:center;" ng-model="cadastro.dados.cartao.numero">
	      	</label>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">CVV (código de segurança)</span>
		        <input type="number" placeholder="CVV" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(4,this)" ng-model="cadastro.dados.cartao.cvv">
	      	</label>
	      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
	      		<div class="input-label" style="color: #fff">Mês</div>
		        <select ng-model="cadastro.dados.cartao.mes" class="select-account">
		        	<option value="01" selected>01</option>
		        	<option value="02">02</option>
		        	<option value="03">03</option>
		        	<option value="04">04</option>
		        	<option value="05">05</option>
		        	<option value="06">06</option>
		        	<option value="07">07</option>
		        	<option value="08">08</option>
		        	<option value="09">09</option>
		        	<option value="10">10</option>
		        	<option value="11">11</option>
		        	<option value="12">12</option>
		        </select>
	      	</label>
	      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
	      		<div class="input-label" style="color: #fff">Ano</div>
		        <select ng-model="cadastro.dados.cartao.ano" class="select-account">
		        	<option value="17">2017</option>
		        	<option value="18" selected>2018</option>
		        	<option value="19">2019</option>
		        	<option value="20">2020</option>
		        	<option value="21">2021</option>
		        	<option value="22">2022</option>
		        	<option value="23">2023</option>
		        	<option value="24">2024</option>
		        	<option value="25">2025</option>
		        	<option value="26">2026</option>
		        	<option value="27">2027</option>
		        	<option value="28">2028</option>
		        	<option value="29">2029</option>
		        	<option value="30">2030</option>
		        </select>
	      	</label>
	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-click="realizarPagamento()">Começar</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>
	</ion-content>
</ion-modal-view>