<ion-view view-title="<div><span style='vertical-align:middle;'>{{ estabelecimentoCategoria }}</span></div>">
  <ion-content>
    <div class="list" style="margin-bottom:0px;">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pesquise por nome, bairro, rua ou categoria..." ng-model="busca.nome" ng-enter="fecharTeclado()" style="width:285px">
        </label>
        <button class="button button-small" ng-click="busca.nome = ''">
          <i class="icon-close"></i>
        </button>
      </div>
	  <div class="row" style="padding-bottom:10px;">
	  <div class="col-60 text-center">
      <h6 class="text-center" style="margin-top:5px;margin-bottom:5px;">Ordenar por</h6>
      <button class="button btn-filter" ng-click="orderOption(1)" ng-class="recuperarFiltroAtivo(1)"><i class="ion-location"></i> Distância </button>&nbsp;&nbsp;
      <button class="button btn-filter" ng-click="orderOption(0)" ng-class="recuperarFiltroAtivo(0)"><i class="ion-levels"></i> Nome </button>
	  </div>
	  
	  <div class="col-40 text-center">
	  <h6 class="text-center" style="margin-top:5px;margin-bottom:5px;">Filtrar por dia</h6>
	  <button class="button btn-filter" ng-click="trocarDia()"><i class="ion-calendar"></i>&nbsp;{{ buscarNomeDia() || 'Selecionar ' }}</button><br>
		<span class="btn-text;" style="font-size:0.8em;" ng-click="limparFiltros()" ng-if="buscarNomeDia()"><i class="ion-close"></i> Ver todas as datas</span>
	  </div>
	  </div>
    </div>
    <ion-list class="estabelecimentos-div">
      <div class="row" ng-if="estFiltrados.length == 0">
        <div class="col text-center">
          <ion-spinner icon="spiral"></ion-spinner>
        </div>
      </div>
      <a class="item item-thumbnail-left item-icon-right" ng-click="irParaEstabelecimento(estabelecimento.id)" ng-repeat="estabelecimento in estFiltrados | filter: busca.nome | orderBy: getOrder()" ng-if="estabelecimento.status == 'a'" style="padding-top:10px;padding-bottom:10px;">
        <img ng-src="{{ recuperarImagem(estabelecimento) }}" style="object-fit:cover">
		    <span class="discount-tag">
          <div ng-if="calcularDesconto(estabelecimento.promocoes) == 0">
            <img style="vertical-align:middle;" ng-src="img/coin-money.png"></img>
          </div>
          <div ng-if="calcularDesconto(estabelecimento.promocoes) != 0">
            <strong>{{ calcularDesconto(estabelecimento.promocoes) }}%</strong>
          </div>
        </span>
        <h2><strong>{{ estabelecimento.nome }}</strong></h2>
        <h4><i>{{ estabelecimento.categoria.nome }}</i></h4>
        <!-- <small>{{ estabelecimento.bairro }} <font class="pink" ng-bind="obterDistanciaEstabelecimento(estabelecimento)"></font></small> -->
        <small>{{ estabelecimento.bairro }} <font ng-bind="obterDistanciaEstabelecimento(estabelecimento)"></font></small>
        <br />
        <small>{{ formatarDias(estabelecimento.promocoes) }}</small>
        <br/>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
