<!-- <ion-view view-title="<div><img src='img/IconLogo.png' style='width:30px;vertical-align:middle;' /> <span style='vertical-align:middle;'>Shows & Eventos</span></div>"> -->
<ion-view view-title="<div><span style='vertical-align:middle;'>Shows & Eventos</span></div>">
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back" style="color:white"></i>
  </ion-nav-back-button>
  <ion-content>
    <div class="list" style="margin-bottom:0px;">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pesquise por nome..." ng-model="busca.nome" ng-enter="fecharTeclado()" style="width:285px">
        </label>
        <button class="button button-small" ng-click="busca.nome = ''">
          <i class="icon-close"></i>
        </button>
      </div>
	  </div>
    <div class="row text-center" style="padding-bottom:10px;">
	     <div class="col" style="padding-top:0px;padding-bottom:0px;">
		      <h6 style="margin-top:5px;margin-bottom:5px;">Ordenar por</h6>
            <button class="button btn-filter" ng-click="orderOption(1)" ng-class="recuperarFiltroAtivo(0)"><i class="ion-calendar"></i>&nbsp;Data</button>&nbsp;&nbsp;
            <button class="button btn-filter" ng-click="orderOption(0)" ng-class="recuperarFiltroAtivo(1)"><i class="ion-levels"></i>&nbsp;Nome</button>&nbsp;&nbsp;
        </div>
	   </div> 
    <ion-list>
      <div class="row" ng-if="eventos.length == 0">
        <div class="col text-center">
          <!-- <ion-spinner icon="spiral"></ion-spinner> -->
          <h3 ng-if="semEventos">Nenhum evento no momento.</h3>
        </div>
      </div>
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="evento in eventos | filter: busca.nome | orderBy: getOrder()" ng-click="irParaEvento(evento)">
        <img ng-src="{{ recuperarImagem(evento) }}" style="object-fit:cover;">
        <h2 style="padding-top:15px;"><strong><i class="ion-megaphone"></i> {{ evento.titulo }}</strong></h2>
        <h3 style="padding-top:15px;"><i class="ion-calendar"></i> {{ formatarData(evento.data) }}</h3>
        <!-- <span class="item-text-wrap">{{ evento.politica }}</span> -->
        <span class="discount-tag">
          <div ng-if="evento.desconto == 0">
           <img style="vertical-align:middle;" ng-src="img/coin-money.png"></img>
          </div>
          <div ng-if="evento.desconto != 0">
            <strong>{{ evento.desconto }}%</strong>
          </div>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
