<ion-view view-title="<div><span style='vertical-align:middle;'>{{evento.titulo}}</span></div>">
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back" style="color:white"></i>
  </ion-nav-back-button>
  <ion-content>
    <img ng-src="{{ recuperarImagem(evento) }}" style="width: 100%">
    <div class="row padding">
      <div class="col text-center">
        <div class="eventos-borda">
          <div class="eventos-overlay">
            <h1 class="titulo-promocoes"><i class="ion-megaphone"></i> {{ evento.titulo }}</h1>
            <h2><i class="ion-calendar"></i> {{ formatarData(evento.data) }}</h2>
            <div class="col" style="text-align:justify;" ng-bind-html="nl2br(evento.politica)"></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>