<ion-modal-view>
	<ion-content class="bg-blue text-center" style="background: #f1f1f1;">
		<div class="title title-left header-item" style="background-color: #d60b52;height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharEsqueceuSenha()">
				<i class="ion-chevron-left" style="width: 30px;"></i>
				<span style="vertical-align:middle;">Voltar</span>
			</div>
		</div>
		<div class="list">
			<div class="row">
	     		<div class="col">
	       			<h4 class="text-center"><strong>Esqueceu sua senha?</strong></h4>
	       			<span>Preencha seus dados abaixo e enviaremos uma nova</span>
	     		</div>
	   		</div>
	   		</br>
			<div class="row">
		    	<div class="col">
		       		<div>
				        <label class="item item-input item-floating-label">
				          <input type="number" placeholder="CPF" class="text-center" onKeyPress="return check(event,value)" onInput="checkLength(11,this)" ng-model="novaSenha.cpf" maxlength="11">
				        </label>
				       
				        <label class="item item-input item-floating-label">
				          <input type="email" placeholder="E-mail" class="text-center" ng-model="novaSenha.email" maxlength="100">
				        </label>
			     	</div>
			    </div>
		    </div>
		    </br>
	      	<div class="row">
	      		<div class="col">
	      			<button class="btn btn-large btn-primary button-block" ng-click="gerarNovaSenha()">Enviar nova senha</button>
	      			<ion-spinner ng-if="gerandoSenha"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>
	</ion-content>
</ion-modal-view>