<ion-modal-view>
	<ion-content class="text-center">
		<!-- <div class="title title-left header-item" style="background-color: #d60b52;">
			<div style="display:table-cell; padding: 5px; background-color: #d60b52;color: white;" ng-click="fecharCartao()"> -->
		<div class="title title-left header-item" style="background-color: #d60b52;height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharCartao()">
				<i class="ion-chevron-left" style="width: 30px;"></i> &nbsp;
				<span style="vertical-align:middle;">Voltar</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>Atualize seu cartão</h2>
			</div>
		</div>
		<label class="item item-input item-floating-label">
	      		<span class="input-label">Nome no cartão</span>
		        <input type="text" placeholder="Nome do titular do cartão" style="color: #fff;text-align:center;" ng-model="cartao.nome" maxlength="25">
	      	</label>
	   		<label class="item item-input item-floating-label">
	      		<span class="input-label">Número do cartão</span>
					<input type="number" placeholder="Número do cartão" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(16,this)" ng-model="cartao.numero">
				 </label>
	      	<label class="item item-input item-floating-label">
	      		<span class="input-label">CVV (código de segurança)</span>
		        <input type="number" placeholder="CVV" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(4,this)" ng-model="cartao.cvv">
	      	</label>
	      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
	      		<span class="input-label" style="color: #fff">Mês</span>
		        <select ng-model="cartao.mes" class="select-account">
		        	<option value="01" selected>01</option>
		        	<option value="02">02</option>
		        	<option value="03">03</option>
		        	<option value="04">04</option>
		        	<option value="05">05</option>
		        	<option value="06">06</option>
		        	<option value="07">07</option>
		        	<option value="08">08</option>
		        	<option value="09">09</option>
		        	<option value="10">10</option>
		        	<option value="11">11</option>
		        	<option value="12">12</option>
		        </select>
	      	</label>
	      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
	      		<span class="input-label" style="color: #fff">Ano</span>
		        <select ng-model="cartao.ano" class="select-account">
					<option value="17">2017</option>
		        	<option value="18" selected>2018</option>
		        	<option value="19">2019</option>
		        	<option value="20">2020</option>
		        	<option value="21">2021</option>
		        	<option value="22">2022</option>
		        	<option value="23">2023</option>
		        	<option value="24">2024</option>
		        	<option value="25">2025</option>
		        	<option value="26">2026</option>
		        	<option value="27">2027</option>
		        	<option value="28">2028</option>
		        	<option value="29">2029</option>
		        	<option value="30">2030</option>
		        </select>
	      	</label>
	      	<div class="row">
	      		<div class="col">
	      			<button class="btn btn-large btn-primary" ng-click="cadastrarCartao()">Salvar</button>
	      		</div>
	      	</div>
	</ion-content>
</ion-modal-view>
