<ion-modal-view title="teste">
	<ion-content class="text-center">
		<!-- <div class="title title-center header-item" style="background-color: #d60b52;">
			<div style="display:table-cell; padding: 5px; background-color: #d60b52;color: white;" ng-click="fecharPlanos()"> -->
		<div class="title title-left header-item" style="background-color: #d60b52;height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharPlanos()">
				<i class="ion-chevron-left" style="width: 30px;"></i> &nbsp;
				<span style="vertical-align:middle;">Voltar</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>Selecione o plano</h2>
			</div>
		</div>
		<div class="row row-dia" ng-repeat="plano in planos | orderBy: name" ng-if="(plano.name !== socio.iugu.plan.name) || (iugu.status == 'canceled')">
			<div class="col text-center">
				<h3 class="btn btn-large btn-primary button-block" ng-click="mudarPlano(plano)">{{ plano.name }} - R${{ formatarPreco(plano.amount) }}</h3>
			</div>
		</div>
		</br>
		<div class="row row-dia" style="position: absolute; bottom: 0%; width: 100%"  ng-if="iugu && iugu.status != 'canceled'">
			<div class="col text-center">
				<h3 class="btn btn-large btn-default button-block" style="color:#444;background-color:#f8f8f8"; ng-click="cancelarPlano()">Cancelar assinatura</h3>
			</div>
		</div>

	</ion-content>
</ion-modal-view>
