<ion-view view-title="<div><span style='vertical-align:middle;'> Notificações</span></div>">
	<ion-content>
		<ion-refresher
	      pulling-text="Solte para atualizar..."
	      on-refresh="pullToRefresh()">
	    </ion-refresher>
		<div class="list" style="margin-bottom:0px;" ng-repeat="not in notificacoes">
			<div class="item" ng-click="irLink(not)">
				<h4 style="white-space:normal;" ng-style="verificaLida(not)">{{not.texto}}</h4>
				<h5 style="color:gray"><font ng-bind="retornaFormato(not.createdAt)"></font></h5>
			</div>
		</div>
	</ion-content>
</ion-view>