<ion-view view-title="<div><span style='vertical-align:middle;'> Novidades</span></div>">

  	<ion-nav-buttons side="right">
    	<button class="button" ng-click="irNotificacoes()" style="background-color: #d60b52;">
      		<img style="width:20px; color:white; margin:7px;" src="img/iconNotificacao.png" />
      		<span ng-hide="notificacaoQtde == 0" class="badge header-badge" style="margin-left:10px;">{{notificacaoQtde}}</span>
    	</button>
  	</ion-nav-buttons>

	<ion-content>
		<ion-refresher
	      pulling-text="Solte para atualizar..."
	      on-refresh="pullToRefresh()">
	    </ion-refresher>
		<div class="list card" ng-repeat="nov in novidades">
		  	<div class="item item-avatar" ng-click="irParaLink(nov.link, nov.parametro)">
		  		<img src="{{ trustSrc(recuperarLogo(nov.estabelecimento)) }}"/>
		  		<h2><strong>{{ nov.estabelecimento.nome }}</strong></h2>
		  		<h4 style="color:gray"><font ng-bind="retornaFormato(nov.imagem.createdAt)"></font></h4>     
		  	</div>
		  	<div class="item-image" ng-click="irParaLink(nov.link, nov.parametro)">
		  		<p style="margin: 10px 0px 10px;">{{ nov.titulo }}</p>
		    	<img class="full-image" ng-src="{{ url + nov.imagem.id + '.' + nov.imagem.extensao }}">
		  	</div>
		  	<p style="white-space:pre-line; margin: 10px 16px 10px;" ng-click="irParaLink(nov.link, nov.parametro)">{{ nov.texto }}</p>
		  	<p ng-show="socio.id && curtiuNovidade(nov)" class="padding">
	      		<a ng-click="descurtir(nov)" class="subdued" style="color:#d60b52;"><i class="ion-thumbsup"></i> Curtiu ({{ nov.curtidas.split(';').length - 1}})</a>
		    </p>
		    <p ng-show="socio.id && !curtiuNovidade(nov)" class="padding">
	      		<a ng-click="curtir(nov)" class="subdued"><i class="ion-thumbsup"></i> Curtir ({{ nov.curtidas.split(';').length - 1}})</a>
		    </p>		
		</div>
	</ion-content>
</ion-view>
