<ion-view view-title="<div style='display:table-cell'>Agenda do dia: <strong>{{ buscarNomeDia() }}</strong></div>">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="trocarDia()" style="background-color: #d60b52;">
      <i class="icon icon-calendar"></i>
    </button>
  </ion-nav-buttons>


  <ion-content>

    <div class="col text-center" ng-if="!dadosCarregados">
      <ion-spinner icon="spiral"></ion-spinner>
    </div>

    <div class="list agenda-div">
      <div ng-repeat="promocoes in agenda" ng-if="dadosCarregados">
        <div class="item item-divider border-pink">
          <span style="float:left;font-size:1.2em;margin-top:5px;"><i class="icon-pin"></i> {{ promocoes.categoria }}</span>
          <small style="float:right"><a ng-click="irParaCategoria(promocoes)" class="btn-default btn">Ver todos</a></small>
        </div>
        <a class="item item-thumbnail-left item-icon-right" style="padding-top:16px;padding-bottom:16px;" ng-click="irParaEstabelecimento(promocao)" ng-repeat="promocao in promocoes.promocoes">
          <img ng-src="{{ trustSrc(urlImagens + promocao.fotoid + '.' + promocao.fotoextensao) }}" style="object-fit: cover">
          <span class="discount-tag">
            <div ng-if="promocao.desconto == 0">
              <img style="vertical-align:middle;" ng-src="img/coin-money.png"></img>
            </div>
            <div ng-if="promocao.desconto != 0">
              <strong>{{ promocao.desconto }}%</strong>
            </div>
          </span>
		      <div>
            <h2 style="margin-bottom:8px;color:gray">{{ promocao.titulo }}</h2>
            <h3 style="margin-bottom:10px;"><strong>{{ promocao.nome }}</strong></h3>
            <!-- <h4 ng-bind=" promocao.bairro + obterDistanciaEstabelecimento(promocao)"></h4> -->
            <h4>{{ promocao.bairro }} <font ng-bind="obterDistanciaEstabelecimento(promocao)"></font></h4>
          </div>
          <!-- <br /> -->
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
