<!-- <ion-view view-title="<div><img src='img/IconLogo.png' style='width:30px;vertical-align:middle;' /> <span style='vertical-align:middle;'>Perfil</span></div>"> -->
<ion-view view-title="<div><span style='vertical-align:middle;'>Perfil</span></div>">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()" ng-if="socioLogado" style="background-color: #d60b52;">
      <strong><i class="icon ion-log-out"></i></strong>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>

    <div ng-if="dadosCarregados || !socioLogado">
     
      <!-- <div ng-if="!socioLogado">

        <div class="row">
          <div class="col">
            <img src="img/logo.png" style="width:100%;"/>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h4>Você ainda não faz parte da Ciklus Live?</br></br>
              Faça já o seu cadastro</br></br>
              É fácil e rápido<h4></br>
            <button class="btn btn-large btn-primary button-block" ng-click="criarConta()">Cadastrar</button>
            </br></br>ou</br></br>
            <button class="btn btn-default btn-large button-block" ng-click="irLanding()">Já sou associado</button>
          </div>
        </div>
      </div> -->

    <div style="background: #f1f1f1; padding-left:10px; padding-right:10px;padding-bottom: 15px" ng-if="socioLogado">
      <div class="row">
        <div class="col text-center">
          <h2 style="padding-top:20px;padding-bottom:0px;margin-bottom:0px;letter-spacing:2px;"><strong>{{ socio.nome }}</strong>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h2 style="font-size:20px;padding-bottom:5px;">Seu código: <strong>{{ socio.codigo }}</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <span class="tag-border">Plano: <strong ng-bind="recuperarPlano()"></strong></span>
        </div>
      </div>
  	  <div class="row">
          <div class="col text-center">
           <br>
           <span class="tag-back">Validade: 
              <strong ng-if="iugu.status != 'canceled'" ng-bind="recuperarExpiracao()"></strong>
              <strong ng-if="iugu.status == 'canceled'"">-</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row" style="padding: 0px;" ng-if="socioLogado">
        <div class="col" style="padding: 0px;">
          <button class="button button-block button-square" style="background:" ng-click="mudarAba(0)" ng-style="buscarClassePorAba(0)" id="aba-economia">
            <i style="font-size:17px;" class="ion-ios-cart-outline"></i> Economia
          </button>
        </div>
        <div class="col" style="padding: 0px;">
          <button class="button button-block button-square" ng-click="mudarAba(1)" ng-style="buscarClassePorAba(1)" id="aba-configuracoes">
            <i style="font-size:17px;" class="ion-ios-gear-outline"></i>  Configurações
          </button>
        </div>
      </div>

      <div class="row" ng-if="transacoes.length == 0 && aba == 0 && socioLogado" style="margin-top: 30px;">
        <div class="col text-center">
          <h3>{{ socio.nome }}, você ainda não utilizou seu Ciklus</h3>
          <p>Aproveite e comece a economizar já em nossos parceiros.</p>
          <small>Suas economias aparecerão aqui</small>
        </div>
      </div>
      <div class="row" style="padding-top:15px;margin-bottom:5px;" ng-if="aba == 0 && transacoes.length > 0 && socioLogado">
        <div class="col text-center">
          <div class="conta-desconto">Total Economizado<br>
          <div style="font-size:150%">R$ {{ somaTransacoes.toFixed(2).replace('.', ',') }}</div></div>
         
  	  <!-- <br> -->
  	  <!-- <small>Veja abaixo os detalhes de sua economia</small> -->
        </div>
      </div>

  	<div class="row">
      <div class="col">
        <div class="list" ng-if="aba == 0 && transacoes.length > 0 && socioLogado">
          <div class="item item-divider" style="font-size: 11px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;">
            <div class="row">
              <div class="col-40 text-left">Estabelecimento</div>
              <div class="col-20 text-center">Valor</div>
              <div class="col-20 text-right">Economia</div>
              <div class="col-20 text-center">Nota</div>
            </div>
          </div>
          <div class="row" style="font-size:12px;padding-right:0px;" ng-repeat="item in transacoes track by $index">
            <div class="col-40"><strong>{{ item.estabelecimento.nome }}</strong><br><small>{{ formatarData(item.createdAt) }}</small></div>
            <div class="col-20 text-right">R$ {{ item.valor.toFixed(2).replace('.', ',') }}</div>
            <div class="col-20  text-right"><strong>R$ {{ item.valorDesconto.toFixed(2).replace('.', ',') }}</strong>
            </div>

            <div class="col-20 text-center">
              <a ng-if="!item.nota" ng-click="avaliarTransacao(item)">Avaliar</a>
              <i ng-class="buscarIconeNota(item.nota)" ng-click="editarNota(item, $index)" ng-if="item.nota > 0"></i>
            </div>

          </div>
        </div>
        <div ng-if="aba == 1 && socioLogado">
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-default" ng-click="alterarSenha()"><i class="ion-key"></i>&nbsp;Alt. senha</button>
            </div>
            <div class="col text-center">
              <button class="btn btn-default" ng-click="verFaturas()"><i class="ion-card"></i> &nbsp;Plano & Faturas</button>
            </div>
          </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nome:</span>
              <input type="text" placeholder="Seu nome" ng-model="socio.nome">
            </label>
            <label class="item item-input">
              <span class="input-label">CPF:</span>
              <input type="text" placeholder="CPF" ng-model="socio.cpf" ng-readonly="true"></input>
            </label>
            <label class="item item-input">
              <span class="input-label">E-mail:</span>
              <input type="text" placeholder="E-mail" ng-model="socio.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Dt. Nasc.:</span>
              <input type="text" placeholder="Data de nascimento" ng-model="socio.dataNasc">
            </label>
            <label class="item item-input">
              <span class="input-label">Telefone:</span>
              <input type="tel" placeholder="Telefone" ng-model="socio.telefone">
            </label>
            <label class="item item-input">
              <span class="input-label">CEP:</span>
              <input type="text" placeholder="CEP" ng-model="socio.cep">
            </label>
            <label class="item item-input">
              <span class="input-label">Número:</span>
              <input type="text" placeholder="Número" ng-model="socio.numero">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Sexo:
              </div>
              <select ng-model="socio.sexo" class="select-account">
                <option value="fem">Feminino</option>
                <option value="mas">Masculino</option>
              </select>
            </label>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-primary btn-large button-block" ng-click="salvar()">Salvar</button>
              </div>
            </div>
  <!-- 		    <div class="row text-center">
            <div class="col">
              <button class="btn btn-default" ng-click="logout()"><i class="ion-log-out"></i> &nbsp;Sair</button>
            </div>
          </div>  -->
          </div>
        </div>
      </div>
     </div>
    </div>
  </ion-content>
</ion-view>
