<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <ion-tab icon-off="icon-user" icon-on="icon-user pink" title="Perfil" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-calendar" icon-on="icon-calendar pink" title="Agenda" ng-click="irParaAgenda()">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-magnifier" icon-on="icon-magnifier pink" title="Pesquisar" ng-click="irParaCategorias()">
    <ion-nav-view name="tab-categorias"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-mic-b" icon-on="ion-mic-b pink" title="Eventos" ng-click="irParaEventos()">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>

  <ion-tab badge="retornaQtde()" badge-style="badge-positive" icon-off="ion-speakerphone" icon-on="ion-speakerphone pink" title="Novidades" ng-click="irParaNovidades()">
    <ion-nav-view name="tab-novidades"></ion-nav-view>
  </ion-tab>

</ion-tabs>
