<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>{{evento.titulo}}</span></div>"> -->
<ion-view>
  
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back" style="color:white"></i>
  </ion-nav-back-button>
  <ion-content>
    <img ng-src="{{ recuperarImagem(evento) }}" style="width: 100%">
    <div class="row padding">
      <div class="col text-center">
        <!-- <div class="eventos-borda"> -->
          <!-- <div class="eventos-overlay"> -->
        <h2 class="titulo-promocoes"><i class="ion-megaphone"></i> {{ evento.titulo }}</h2>
        <h3><i class="ion-calendar"></i> {{ formatarData(evento.data) }}</h3>
        <h4><i class="ion-location"></i> {{ evento.local }} - {{ evento.cidade }} | {{evento.estado}}</h4>
        </br>
        <button class="btn btn-large btn-default button-block" ng-click="irParaDestino(evento.link)">Comprar Ingresso</button>
        </br>
        </br>
        <div class="col" style="text-align:justify;" ng-bind-html="nl2br(evento.politica)"></div>
        </br>
        <button class="btn btn-large btn-default button-block" ng-click="irParaDestino(evento.link)">Comprar Ingresso</button>
        </br>
        </br>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>