<ion-modal-view>
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; color:white;" ng-click="fecharEsqueceuSenhaFPT()">
				<img src="img/icon-back.png" style="padding-right: 30px;height:80%"/>
				<!-- <i class="ion-chevron-left" style="width: 30px;"></i>
				<span style="vertical-align:middle;">Voltar</span> -->
			</div>
		</div>
		<div class="list">
			<div class="row" style="padding-top:17%;">
	     		<div class="col">
	       			<h2 class="text-center gray"><strong>Esqueceu sua senha?</strong></h2>
	       			<span class="gray">Preencha seus dados abaixo e enviaremos uma nova</span>
	     		</div>
	   		</div>
	   		</br>
			<div class="row">
		    	<div class="col">
		       		<div>
				        <!-- <label class="item item-input item-floating-label">
				          <input type="tel" placeholder="CPF" class="text-center" onKeyPress="return check(event,value)" onInput="checkLength(11,this)" ng-model="novaSenha.cpf" maxlength="11">
				        </label>
				        <br>	 -->			       
				        <label class="item item-input" style="border-top:0; border-left:0; border-right:0;">
				        <!-- <label class="item item-input item-floating-label"> -->
				          <input type="email" placeholder="E-mail" class="text-center" ng-model="novaSenha.email" maxlength="100">
				        </label>
			     	</div>
			    </div>
		    </div>
		    </br>


			<div class="row" style="padding-right:20px;padding-left:20px;">
				<div>
					<h5>Agora você faz parte do exclusivo Clube FPT.</h5>
					</br>
					<h5>Comece agora a economizar, aproveitando nossos descontos e promoções nos melhores estabelecimentos.</h5>
					</br>
					<h5>Basta escolher o seu estabelecimento em nosso app e no momento de pagar a conta mostrar sua carteirinha virtual.</h5>
					</br></br>
				</div>
			</div>

			<div class="row">
				<div class="col text-center">
					<button class="btn btn-large btn-primary button-block" ng-click="fecharBemVindo()">Comece agora</button>
			    </div>
			</div>


	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-class="{'btn-disabled' : !(novaSenha.email != '')}" ng-click="gerarNovaSenha()">Enviar nova senha</button>
	      			
	      			<ion-spinner ng-if="gerandoSenha"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>
	</ion-content>
</ion-modal-view>