<ion-modal-view>
	<ion-content class="text-center" style="margin:15px">
		<!-- <div class="title title-left header-item" style="height:43px;">

		</div> -->
		</br>
		<!-- Restaurante -->
		<h3 ng-if="categoriaSelecionada.id == 1"><strong>Amamos comer! Me mostre os seus favoritos.</strong></h4>
		<!-- Bares -->
		<h3 ng-if="categoriaSelecionada.id == 2"><strong>Me ajude a te conhecer melhor com tudo que você procura nos bares.</strong></h4>
		<!-- Cafeteria -->
		<h3 ng-if="categoriaSelecionada.id == 7"><strong>Nós amamos cafeterias e pelo jeito você também. Para melhorar sua experiência com o clube me diga o que você gosta.</strong></h4>
		<h4 class="text-center gray">(Pode escolher mais de um)</h4>
		<h5 class="text-center gray" style="font-weight: lighter">** Fique tranquilo: não será utilizado como filtro **</h5>
		<div class="list" style="padding-top: 10px;">
			<ion-list>
				<div ng-repeat="perfil in perfis">
			  		<ion-checkbox ng-model="checkItems[perfil.id]">{{perfil.titulo}}</ion-checkbox>
				</div>
			</ion-list>			
        </div>


        <div class="col">
			<button class="btn btn-large btn-primary button-block" ng-click="fecharModalPerfilCategoria(checkItems)">Registrar</button>
			<ion-spinner ng-if="cadastrando"></ion-spinner>
		</div>

		<br><br>

	</ion-content>
</ion-modal-view>
