<ion-modal-view style="top:30%;">
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;background-image:none">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharModal()">
				<img src="img/icon-back.png" style="padding-right: 30px; height:60%"/>
			</div>
		</div>
		
		<div class="card" style="margin-bottom:5px;">

			<h4 class="lighter">Digite o <strong>nome</strong> e o <strong>bairro</strong> do estabelecimento que deseja ter no clube e clique em Enviar.</h4>
	      
	      	<div class="item item-text-wrap">
	        	<label class="item item-input" style="padding:0px;">
	          		<textarea style="height:150px" ng-model="texto"></textarea>
	        	</label>
	      	</div>
	    </div>

	    <div class="row">
	      <div class="col">
	        <button class="button button-block btn-primary" ng-click="enviarSugestao(texto)">Enviar</button>
	      </div>
	    </div>

	</ion-content>
</ion-modal-view>
