<ion-modal-view 
	style="top:10%; 
	left:7%;
	min-height: 75%;
    width: 85%;
    background-color: #fbfbfb">

	<ion-content class="text-center">
		
		<div class="title title-left header-item" style="height:43px;background-image:none; background-color: green">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharModalCheckin()">
				<i class="ion-close-round" style="padding-right: 30px; height:60%"/> <!-- src="img/icon-back.png" -->
			</div>
		</div>
	
		<br>

		<div class="row">
			<div class="col-40">
				<h1 style="font-size:20px; margin:0">{{weekday | uppercase}}</h1>
				<h1 style="font-size:80px; margin-top: -14px; margin-bottom: -6px;">{{data | date:'dd'}}</h1>
				<span style="font-size:20px; margin:0">{{mes | uppercase}}</span>
			</div>
			<div class="col-60">
				<div ng-if="promocao.desconto == 0">
					$$$
				</div>
				<div class="green" ng-if="promocao.desconto != 0">
					<i class="ion-pricetag" style="font-size: 40px;"></i><br>
					<h1 class="green" style="font-size: 22px; font-weight: 500; margin-top: 0;">{{ promocao.desconto }}% de desconto</h1>
					<h2 style="margin-bottom: 1px"><strong>{{estabelecimento.nome}}</strong></h2>
					<h4 class="lighter" style="margin-top: 0">{{ estabelecimento.endereco }}, {{ estabelecimento.numero }} - {{ estabelecimento.bairro }} - {{ estabelecimento.cidade }}</h4>
				</div>
			</div>
		</div>
		
		<br>

		<div class="row text-left" style="padding: 5px 20px;">
			<div class="col">
				<h2>Nome: {{socio.nome}}</h2>
				<h3>Código: {{socio.codigo}}</h3>
			</div>
		</div>
		
		<div class="row text-left" style="padding: 5px 20px;">
			<div class="col">
				<h4 class="lighter">Apresente esta validação na recepção ou quando for fechar a conta no estabelecimento.</h3>
			</div>
		</div>


		<div class="row text-center" style="padding: 5px 20px;">
			<div class="col">
				<img src="img/logo-ciklus-colorida.png" style="width:50%; padding-top:0px"/>
			</div>
		</div>

	</ion-content>
</ion-modal-view>
