<ion-modal-view style="opacity: 0.95;" class="manual-ios-statusbar-padding">
	<ion-content class="text-center">		
		<div class="row row-dia" ng-repeat="bairro in bairros track by $index">
			<div class="col text-center">
				<h3 ng-click="filtrarPeloBairro(bairro)">{{ bairro }}</h3>
			</div>
		</div>
	</ion-content>
</ion-modal-view>