	<ion-modal-view>
	<ion-content class="text-center" style="margin:15px">
		<div class="title title-left header-item" style="height:43px;">

		</div>
		
		<h3 style="line-height: 1.5"><strong>Quase lá! Cuidar do seu dinheiro é o primeiro passo para garantir os objetivos financeiros.</strong></h3>
		<h3 style="line-height: 1.5">O que você vai fazer com o dinheiro que economizar com o clube?</h3>
		<!-- <h4 class="gray" style="font-weight: lighter;font-style: italic;">(Pode escolher mais de um)</h4> -->
		<div class="list" style="padding-top: 10px;">
			<ion-list>
				<div ng-repeat="perfil in perfis">
					<!-- <ion-checkbox ng-model="checkItems[perfil.id]">{{perfil.titulo}}</ion-checkbox> -->
					<ion-radio ng-model="checkItems[0]" value="{{perfil.id}}" ng-click="perfil.id == '7' && abrirInput()">{{perfil.titulo}}
				  		<span ng-if="perfil.id == '7' && atualiza.estiloOutro" style="font-style: italic"> - {{atualiza.estiloOutro}}</span>
				  	</ion-radio>
				</div>
			</ion-list>			
        </div>

        <div class="col">
			<button class="btn btn-large btn-primary button-block" ng-click="fecharPerfil(checkItems[0])">Continuar</button>
			<ion-spinner ng-if="cadastrando"></ion-spinner>
		</div>

		<br><br>

	</ion-content>
</ion-modal-view>
