<ion-modal-view>
	<ion-content class="text-center">

		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharModalGastos()">
				<img src="img/icon-back.png" style="padding-right: 30px; vertical-align:middle; height:60%"/>
				<!-- <i class="ion-chevron-left" style="width: 30px;"></i> -->
				<!-- <span style="vertical-align:middle;">Voltar</span> -->
			</div>
		</div>


        <!-- RENDAS -->
		<div ng-if="gastos.passo == 1" class="list">
			<div class="row">
	     		<div class="col">
                       <h3 class="text-center"><strong>Rendas</strong></h3>
                       <h4 class="text-center gray" >Informe aqui todos os valores que você ganha de acordo com cata categoria. Caso não encontre a categoria ideal, utilize a categoria 'Outros'.</h4>
	     		</div>
	   		</div>	   		
			<div class="row" >
		    	<div class="col" style="text-align: left !important">
                    <label class="item item-input">
                        <span class="input-label">Salário Bruto:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.receita_1"  ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Descontos Salarias:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.desconto_1"  ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Aluguéis:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.receita_2"  ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Pensão:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.receita_3"  ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Outros:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.receita_outros" ui-money-mask>
					</label>
					<div class="col">
						<h4 style="text-align: right;">Total: {{valor.receita_1 + valor.receita_2 + valor.receita_3 + valor.receita_outros - valor.desconto_1 | currency : 'R$ '}}</h4>
					</div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="button button-block btn-primary" ng-click="gravarGastos()">Registrar</button>
                        </div>
                    </div>
	      		</div>
            </div>		
        </div>
        


        <!-- GASTOS ESSENCIAIS -->
        <div ng-if="gastos.passo == 2" class="list">
			<div class="row">
	     		<div class="col">
					<h3 class="text-center"><strong>Gastos Essencias</strong></h3>
					<h4 class="text-center gray" >No máximo 50% dos seus rendimentos devem ser reservados para o pagamento das despesas fixas relacionadas a sua sobrevivência, ou seja, para os seus gastos essenciais. Informe aqui todos os valores que você gastou nesse mês.</h4>
	     		</div>
	   		</div>	   		
			<div class="row">
		    	<div class="col" style="text-align: left !important">
                    <label class="item item-input">
                        <span class="input-label">Água:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_1" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Luz:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_2" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Alimentação / Mercado:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_3" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Transporte:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_4" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Moradia:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_5" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Educação:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_6" ui-money-mask>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Saúde:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_7" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Crediário:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_8" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Crédito Consignado:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_9" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Juros:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_10" ui-money-mask>
					</label>
                    <label class="item item-input">
                        <span class="input-label">Outros:</span>
                        <input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_essencial_outros" ui-money-mask>
					</label>
					<div class="col">
						<h4 style="text-align: right;">Total: {{valor.despesa_essencial_1 + valor.despesa_essencial_2 + valor.despesa_essencial_3 + valor.despesa_essencial_4 + valor.despesa_essencial_5 + valor.despesa_essencial_6 + valor.despesa_essencial_7 + valor.despesa_essencial_8 + valor.despesa_essencial_9 + valor.despesa_essencial_10 + valor.despesa_essencial_11 + valor.despesa_essencial_outros | currency : 'R$ '}}</h4>
					</div>
					<div class="row">
                        <div class="col text-center">
                            <button class="button button-block btn-primary" ng-click="gravarGastos()">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>		
        </div>


		 <!-- GASTOS VARIÁVEIS -->
		 <div ng-if="gastos.passo == 3" class="list">
			<div class="row">
	     		<div class="col">
                       <h3 class="text-center"><strong>Gastos Variáveis</strong></h3>
                       <h4 class="text-center gray" >No máximo 30% da sua renda deve ser usada para gastos variáveis, ou seja, seu estilo de vida. Tudo que você compra mas não precisa necessariamente, mas que te deixa feliz. Informe aqui todos os valores que você gastou nesse mês.</h4>
	     		</div>
	   		</div>	   		
			<div class="row" >
		    	<div class="col" style="text-align: left !important">
                    <div class="row" style="padding-bottom: 0px; padding-top: 10px">
						<div class="col" style="padding-bottom: 0px;">
							<h3 class="text-left"><strong>Gastos Variáveis</strong></h3>
						</div>
					</div>
					<label class="item item-input">
						<span class="input-label">Restaurante e Bares:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_1" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Lazer:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_2" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Cuidados Pessoais:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_3" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Viagem:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_4" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Diarista:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_5" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Celular:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_6" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">TV / Internet:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_7" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Compras:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_8" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Serviços:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_9" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Presentes:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_10" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Família / Filhos:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_11" ui-money-mask>
					</label>
					<label class="item item-input">
						<span class="input-label">Outros:</span>
						<input style="text-align: right;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_nao_outros" ui-money-mask>
					</label>
					<div class="col">
						<h4 style="text-align: right;">Total: {{valor.despesa_nao_1 + valor.despesa_nao_2 + valor.despesa_nao_3 + valor.despesa_nao_4 + valor.despesa_nao_5 + valor.despesa_nao_6 + valor.despesa_nao_7 + valor.despesa_nao_8 + valor.despesa_nao_8 + valor.despesa_nao_10 + valor.despesa_nao_11 + valor.despesa_nao_outros | currency : 'R$ '}}</h4>
					</div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="button button-block btn-primary" ng-click="gravarGastos()">Registrar</button>
                        </div>
                    </div>
	      		</div>
            </div>		
		</div>
		

		<!-- DIVIDAS ATRASADAS -->
        <div ng-if="gastos.passo == 4" class="list">
			<div class="row">
	     		<div class="col">
					<h3 class="text-center"><strong>Dívidas Atrasadas</strong></h3>
					<h4 class="text-center gray">A recomendação é pagar as dívidas primeiro. Isso porque dificilmente você vai encontrar um investimento que pague juros tão altos quanto os que são cobrados em uma dívida. Informe aqui todos os valores que você tem em dívidas e o quanto pagou este mês.</h4>
	     		</div>
	   		</div>	   		
			<div class="row">
				<div class="col" style="text-align: left !important">

				
					<!-- <div class="col text-center" ng-click="editarDivida()"> -->
						<!-- <h5 style="margin:0px; font-weight: lighter;">Total Dívida</h5> -->
						<!-- <h1 style="margin-bottom:10px;margin-top:0px;font-size: 24px;">R$ {{ totalDivida.toFixed(2).replace('.', ',') }}</h2> -->
					<!-- </div> -->
					<br>

					<div class="row item item-input">
						<div class="col">
							
						</div>
						<div class="col">
							<h3 class="text-right">Total</h3>
						</div>
						<div class="col">
							<h3 class="text-right">Paguei<br>no mês</h3>
						</div>
						<div class="col">
							<h3 class="text-right">Saldo</h3>
						</div>
					</div>
					<div class="row item item-input"  style="padding-top: 10px">
						<div class="col">
							<span class="input-label">Dívida 1:</span>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.divida_1" ui-money-mask>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_divida_1" ui-money-mask>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; font-style: italic; padding-right: 0px;" ng-model="">{{valor.divida_1 - valor.despesa_divida_1 | currency : 'R$ '}}</h3>
						</div>
					</div>
					<div class="row item item-input">
						<div class="col">
							<span class="input-label">Dívida 2:</span>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.divida_2" ui-money-mask>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_divida_2" ui-money-mask>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; font-style: italic; padding-right: 0px;" ng-model="">{{valor.divida_2 - valor.despesa_divida_2 | currency : 'R$ '}}</h3>
						</div>
					</div>
					<div class="row item item-input">
						<div class="col">
							<span class="input-label">Dívida 3:</span>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.divida_3" ui-money-mask>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_divida_3" ui-money-mask>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; font-style: italic; padding-right: 0px;" ng-model="">{{valor.divida_3 - valor.despesa_divida_3 | currency : 'R$ '}}</h3>
						</div>
					</div>
					<div class="row item item-input">
						<div class="col">
							<span class="input-label">Dívida 4:</span>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.divida_4" ui-money-mask>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_divida_4" ui-money-mask>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; font-style: italic; padding-right: 0px;" ng-model="">{{valor.divida_4 - valor.despesa_divida_4 | currency : 'R$ '}}</h3>
						</div>
					</div>
					<div class="row item item-input">
						<div class="col">
							<span class="input-label">Dívida 5:</span>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.divida_5" ui-money-mask>
						</div>
						<div class="col">
							<input style="text-align: right; padding-right: 0px;" type="tel" placeholder="R$ 0,00" ng-model="valor.despesa_divida_5" ui-money-mask>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; font-style: italic; padding-right: 0px;" ng-model="">{{valor.divida_5 - valor.despesa_divida_5 | currency : 'R$ '}}</h3>
						</div>
					</div>
					<div class="row item item-input" style="padding-top: 10px">
						<div class="col">
							<span class="input-label">Total</span>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; padding-right: 0px;">{{valor.divida_1 + valor.divida_2 + valor.divida_3 + valor.divida_4 + valor.divida_5 | currency : 'R$ '}}</h3>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; padding-right: 0px;">{{valor.despesa_divida_1 + valor.despesa_divida_2 + valor.despesa_divida_3 + valor.despesa_divida_4 + valor.despesa_divida_5 | currency : 'R$ '}}</h3>
						</div>
						<div class="col">
							<h3 style="text-align: right; color:gray; padding-right: 0px;">{{(valor.divida_1 + valor.divida_2 + valor.divida_3 + valor.divida_4 + valor.divida_5) - (valor.despesa_divida_1 + valor.despesa_divida_2 + valor.despesa_divida_3 + valor.despesa_divida_4 + valor.despesa_divida_5) | currency : 'R$ '}}</h3>
						</div>
					</div>
					
					<div class="row">
                        <div class="col text-center">
                            <button class="button button-block btn-primary" ng-click="gravarGastos()">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>		
        </div>

	</ion-content>
</ion-modal-view>