<ion-modal-view class="manual-ios-statusbar-padding">
	<ion-content class="text-center">

	    <ion-slides options="slideOptions" style="height:100%">
		 
			<ion-slide-page style="padding:5px; height: 100%; background-color:var(--cor_padrao);"> <!--height: 80vh-->
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/bem-vindo-1.png" style="width: 50%;" /></div>
	
						<h2 class="cor_secundaria">SEGURANÇA FINANCEIRA</h2>
						<h3 style="font-weight: 200; line-height: 2">Conquistar a segurança financeira é um
							propósito de praticamente qualquer
							pessoa. Possuir dinheiro de sobra e não
							sofrer apuros nas horas de imprevisto são
							desejos que muitos têm.
						</h3>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color:var(--cor_padrao);">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo"><img src="img/bem-vindo-2.png" style="width: 50%;" /></div>
	
						<h2  class="cor_secundaria">RESERVA FINANCEIRA</h2>
						<h3 style="font-weight: 200; line-height: 2">A reserva de emergência deve fazer parte do seu
							planejamento financeiro e pode ser decisiva em
							momentos de dificuldades para ter um futuro
							garantido e um presente mais tranquilo.
						</h3>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color:var(--cor_padrao);">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/bem-vindo-3.png" style="width: 50%;" /></div>
	
						<h2 class="cor_secundaria">CONSTRUIR SUA RESERVA</h2>
						<h3 style="font-weight: 200; line-height: 2">A Reservi é uma assistente inteligente que
							ajuda você a organizar suas finanças de
							forma simples e intuitiva para economizar
							mais com descontos no dia a dia e começar
							a construir sua reserva financeira.
						</h3>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color:var(--cor_padrao);">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/bem-vindo-4.png" style="width: 50%;" /></div>
	
						<h2 class="cor_secundaria">VAMOS COMEÇAR</h2>
						<h3 style="font-weight: 200; line-height: 2">
							Vou te ajudar a fazer mais com seu
							dinheiro para que você possa viver e se
							divertir mais sem o estresse financeiro!
						</h3>
						<br><br>
						<div class="row">
							<div class="col text-center">
								<button class="button button-block btn-primary" ng-click="fecharBemVindo()">Quero Economizar</button>
							</div>
						</div>	

					</div>
				</div>
			</ion-slide-page>


	    </ion-slides>

	</ion-content>
</ion-modal-view>
