<ion-view view-title="<div><span style='vertical-align:middle;'> Educação Financeira</span></div>">
<!-- <ion-view> -->
	
  	<ion-nav-buttons side="right">
    	<button class="button btn-header" ng-click="irNotificacoes()" ng-hide="socio == null || offline == true">
      		<img style="width:20px; color:white; margin:7px;" src="img/iconNotificacao.png" />
      		<span ng-hide="notificacaoQtde == 0" class="badge header-badge" style="margin-left:10px;">{{notificacaoQtde}}</span>
    	</button>
  	</ion-nav-buttons>

	<ion-content>
		<ion-refresher
	      pulling-text="Solte para atualizar..."
	      on-refresh="pullToRefresh()">
	    </ion-refresher>

	    <!-- Filtrar Cidade -->
		<!-- <div class="row text-center" style="padding-bottom: 0px;">
        	<div class="col text-center" style="padding-bottom: 0px;">
          		<h5 class="gray text-center" style="margin-top:5px;margin-bottom:5px;">Filtrar</h5>
          		<button class="button btn-filter active" ng-click="trocarCidade()"><i class="ion-location"></i>&nbsp;{{ cidade || 'Cidade ' }}</button><br>
        	</div>
	  	</div> -->

		<div class="list card" ng-repeat="nov in (retorno = (novidades | filter:myFilter))">
		  	<!-- <div class="item item-avatar" ng-click="irParaLink(nov.link, nov.parametro)">
		  		<img src="{{ trustSrc(recuperarLogo(nov.estabelecimento)) }}"/>
		  		<h2><strong>{{ nov.estabelecimento.nome }}</strong></h2>
		  		<h4 style="color:gray"><font ng-bind="retornaFormato(nov.imagem.createdAt)"></font></h4>
		  	</div> -->
		  	<div class="item-image" ng-click="irParaLink(nov.link, nov.parametro)">
		  		<p style="margin: 10px 0px 10px;font-weight: bold;">{{ nov.titulo }}</p>
		    	<img class="full-image" ng-src="{{ url + nov.imagem.id + '.' + nov.imagem.extensao }}">
		  	</div>
		  	<p class="lighter" style="white-space:pre-line; margin: 10px 16px 10px;" ng-click="irParaLink(nov.link, nov.parametro)">{{ nov.texto }}</p>
		  	<div class="row">
			    <div class="col-50">
				  	<p ng-show="socio.id && curtiuNovidade(nov)" style="padding-top:5px;">
			      		<a ng-click="descurtir(nov)" class="subdued" style="color:#FF5722;"><i class="ion-thumbsup"></i> Curtiu ({{ nov.curtidas.split(';').length - 1}})</a>
				    </p>
				    <p ng-show="socio.id && !curtiuNovidade(nov)" class="padding">
			      		<a ng-click="curtir(nov)" class="subdued"><i class="ion-thumbsup"></i> Curtir ({{ nov.curtidas.split(';').length - 1}})</a>
				    </p>
				</div>
				<div class="col-50" style="text-align:right;">
					<h4 style="color:gray"><font ng-bind="retornaFormato(nov.imagem.createdAt)"></font></h4>
				</div>
			</div>
		</div>

		<div class="row" ng-show="retorno.length == 0 && novidades.length != 0">
      		<div class="col text-center">
         		<h3><BR><BR>Nenhum feed de novidade encontrado para esta cidade. <BR><BR>Altere os filtros para uma nova busca.</h3><BR></h3>
      		</div>
    	</div>

    	<div class="row" ng-show="offline == true">
      		<div class="col text-center">
	          <div style="padding-top:20px">
	            <img src="img/noorders.png" />
	          </div>
	          <BR>
	          <h2 class="gray"><strong>As novidades não foram carregadas!</strong></h2>
	          <h2 class="gray"><strong>Talvez você esteja offline.</strong></h2>
	          <h2 class="gray"><strong>Verifique sua conexão e tente novamente.</strong></h2>
	          </h2>
	        </div>
    	</div>

	</ion-content>
</ion-view>
