<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Pedido: {{pedido.orderNumber}} ({{ingressos.length}})</span></div>"> -->
<ion-view>
  
  <ion-content>
    
    <ion-list>
      <div class="row" ng-show="ingressos == null && dadosCarregados == false">
        <div class="col text-center">
          <ion-spinner icon="spiral"></ion-spinner>
        </div>
      </div>


      <div class="row" ng-show="ingressos == null && dadosCarregados">
        <div class="col text-center">
          <div style="padding-top:20px">
            <img src="img/noorders.png" />
          </div>
          <BR>
          <h2 class="gray"><strong>Seu ingresso não foi carregado!</strong></h2>
          <h2 class="gray"><strong>Talvez você esteja offline.</strong></h2>
          <h2 class="gray"><strong>Tente conectar e carregar novamente.</strong></h2>
          <h2 class="gray"><strong>Depois de carregado a primeira vez você poderá utilizar desconectado.</strong></h2>
          <BR><BR><BR><BR>
          <h4 class="gray">
            <strong>Dúvidas e Informações:<BR>
            Acesse nossa <a style="text-decoration:underline; color:red; font-weight: bold; font-size:12px;" stop-event ng-click="irParaDestino('https://www.aloingressosempresa.com.br/central-de-ajuda')"> Central de Ajuda</a> ou <BR>
            ligue (41) 3042-6262</strong>
          </h4>
        </div>
      </div>


      <div style="text-align:center" ng-hide="ingressos == null">
        <h3 class="red" style="padding: 15px 0px 0px 0px; margin-bottom: 0px"><strong> {{pedido.eventName}}</strong></h3>
        <img src="img/barra-pedido.png" />
        <h4 class="gray" style="margin-top: 0px;"><i class="ion-calendar"></i> &nbsp;{{ingressos[0].eventDate}}</h4>
        <h4 class="gray"><i class="ion-location"></i> &nbsp;{{ingressos[0].place}}</h4>
        <h4 class="gray"><i class="ion-pound"></i> &nbsp;{{pedido.orderNumber}}</h4>
      </div>
      
      <a class="item item-icon-right" ng-repeat="ingresso in ingressos" ng-click="irParaIngresso(ingresso)">

        <h6 class="gray"># INGRESSO {{$index + 1}}</h6>
        <div class="row">
          <div class="col-80">
            <h4 class="red" style="padding-top:8px; padding-left:10px;"><i class="ion-pricetag gray"></i><strong> &nbsp;{{ ingresso.ticketName }}</strong></h4>
          </div>
          <div class="col-20">
            <h4 class="red" style="padding-top:8px; padding-left:10px;" ng-show="ingresso.line || ingresso.seat"><i class="ion-grid gray"></i><strong> &nbsp;{{ ingresso.line }}{{ ingresso.seat }}</strong></h4>
          </div>
        </div>
        <div class="row">
          <h4 class="gray" style="padding-top:14px; padding-left:10px;"><i class="ion-person"></i> &nbsp;{{ ingresso.customer.name || '________________________'}} - {{ingresso.customer.document}}</h4>
        </div>
        
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>

    <div class="row" ng-show="ingressos.length == 0">
      <div class="col text-center">
         <h3><BR><BR>Nenhum ingresso encontrado.</h3>
      </div>
    </div>

  </ion-content>

</ion-view>