<ion-modal-view class="manual-ios-statusbar-padding">
	<ion-content class="text-center">

		<ion-slides options="slideOptions" style="height:100%;">
			
			<ion-slide-page style="padding:5px; height: 100%; background-color: #fb8e01;"> <!--height: 90vh;!-->
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/slide-reserva-1.png" style="width: 50%;" /></div>
	
						<h2>Passo por passo</h2>
						<h2 style="font-weight: 200; line-height: 1.5">Os primeiros passos para quem quer organizar as contas envolve duas atividades principais.
							<br><br>Primeiro, é preciso contabilizar receitas e despesas. 
							<br>Depois, elaborar um planejamento e determinar quanto poupar a cada mês.
						</h2>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color: #fa3f00;">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/slide-reserva-2.png" style="width: 50%;" /></div>
	
						<h2>Calma!</h2>
						<h2 style="font-weight: 200; line-height: 1.5">Eu vou te ajudar a organizar os seus gastos com inteligência para que você possa enxergar para onde o seu dinheiro está indo e assim, começar a criar sua reserva financeira.
						</h2>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color: #450efd;">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/slide-reserva-3.png" style="width: 50%;" /></div>
	
						<h2>50-30-20</h2>
						<h2 style="font-weight: 200; line-height: 1.5">Utilizo a regra 50-30-20 que é a maneira mais simples e eficientes para colocar as contas em ordem e começar a guardar dinheiro.
							<br><br>50% para gastos essenciais
							<br>30% para gastos variáveis
							<br>20% para reserva financeira
						</h2>
					</div>
				</div>
			</ion-slide-page>

			<ion-slide-page style="padding:5px; height: 100%; background-color: #fa2401;">
				<div class="row centralizacao">
					<div class="col text-center white" style="margin:0px 30px 20px 30px">
	
						<div class="centralizacao_2 img_slide_circulo" ><img src="img/slide-reserva-4.png" style="width: 50%;" /></div>
	
						<h2>Dívida</h2>
						<h2 style="font-weight: 200; line-height: 1.5">Para finalizar, ATENÇÃO:
							<br>Se você tiver dívidas em aberto, quitá-las deve ser prioridade antes de iniciar a construção da sua reserva financeira.
						</h2>
						<br><br>
						<div class="row">
							<div class="col text-center">
								<button class="button button-block btn-second" ng-click="fecharSlides()">Comece agora</button>
							</div>
						</div>	

					</div>
				</div>
			</ion-slide-page>


	      

	    </ion-slides>

	</ion-content>
</ion-modal-view>
