<!-- <ion-view> -->
<ion-view view-title="<div><span style='vertical-align:middle;'>Benefícios</span></div>">
  <ion-content>
    <ion-list class="estabelecimentos-div" style="border-style:none;" >
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="categoria in categorias | orderBy: 'id'" type="item-text-wrap" ng-click="irParaEstabelecimentos(categoria)" style="background: #FAF8F8; margin: 10px;border: 0;">
        <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-{{ categoria.id }}-fpt.jpg" style="object-fit:cover">
        <div style="width:100%; height:100%; padding:12%;">
          <h1 style="color:black; font-weight:bold; font-size:1.2em;text-transform:uppercase;">{{categoria.nome}}</h1>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a> 
      <a class="item item-thumbnail-left item-icon-right" type="item-text-wrap" ng-click="irParaEventos()" style="background: #FAF8F8; margin: 10px;border: 0;">
        <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-show-fpt.jpg" style="object-fit:cover">
        <div style="width:100%; height:100%; padding:12%;">
          <h1 style="color:black; font-weight:bold; font-size:1.2em;text-transform:uppercase;">SHOWS & EVENTOS</h1>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-thumbnail-left item-icon-right" type="item-text-wrap" ng-click="irParaEstabelecimentos()" style="background: #FAF8F8; margin: 10px;border: 0;">
        <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-todos-fpt.png" style="object-fit:cover">
        <div style="width:100%; height:100%; padding:12%;">
          <h1 style="color:black; font-weight:bold; font-size:1.2em;text-transform:uppercase;">TODOS</h1>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>     
    </ion-list>
  </ion-content>
</ion-view>
