<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <ion-tab icon-off="icon-perfil" icon-on="icon-perfil" title="PERFIL" ng-click="irParaPerfil()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-categorias" icon-on="icon-categorias" title="BENEFÍCIOS" ng-click="irParaCategorias()">
    <ion-nav-view name="tab-categorias"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-gastos" icon-on="icon-gastos" title="ECONOMIAS" ng-click="irParaEconomias()">
    <ion-nav-view name="tab-transacoes"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-economias" icon-on="icon-economias" title="RESERVA" ng-click="irParaPlanejamento()">
    <ion-nav-view name="tab-planejamento"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-novidades" icon-on="icon-novidades" title="EDUCAÇÃO" ng-click="irParaNovidades()" badge="retornaQtde()" badge-style="badge-positive">
    <ion-nav-view name="tab-novidades"></ion-nav-view>
  </ion-tab>

</ion-tabs>
