<ion-view view-title="<div><span style='vertical-align:middle;'>Minhas Economias</span></div>">
<!-- <ion-view> -->
  
  <ion-content padding="false">

    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>

  
    <div class="row centralizacao_2" style="padding:36px 25px; color: white !important; background-color:var(--cor_secundaria); border-top: 1px; border-top-color: white; border-top-style: solid;">
      <div class="col text-center" ng-click="mostrarAjuda('1')">
        <h5 style="margin:0px; font-weight: lighter;">Seu saldo em créditos</h5>
        <h1 class="no-margin" style="font-size: 34px;">R$ {{(10 - (transacoes.length * 1.99)).toFixed(2).replace('.', ',')}}
          <img style="width:18px;" src="img/icon-como-utilizar.png" />
        </h1>
      </div>
      
    </div>


    <div class="row centralizacao_2" ng-if="transacoes.length == 0" style="padding:20px">
      <div class="col text-center">
        <br>
        <h3 style="line-height: 1">Olá, você ainda não economizou :(</h3>
        <br>
        <h3 style="font-weight: 200; line-height: 1">Comece já a frequentar os nossos parceiros e criar um novo hábito financeiro inteligente.</h3>
        <br>
        <h3 style="font-weight: 100; line-height: 1">Suas economias aparecerão aqui após a 1º utilização.</h3>
      </div>
    </div>

      
    <div ng-if="transacoes.length > 0">

       <div class="text-center">
        <a class="item item-icon-right" style="background: #FAF8F8; margin: 10px 0px 0px 0px; border: 0; padding-top:10px; padding-bottom: 10px;">      
          <h3 style="color:black;margin-bottom:0px;">Total Economizado: <strong>R$ {{ somaTransacoes.toFixed(2).replace('.', ',') }}</strong></h3>
        <!-- <h1 style="color:black;margin-bottom:10px;margin-top:0px"></h2> -->
          </a>
        </div>

      <div class="text-center">
        <h5 class="text-center gray" style="margin-bottom: 0;"><strong>HISTÓRICO DE TRANSAÇOES</strong></h5>
      </div>
    </div>

      <div class="row" style="padding: 0px;">
        <div class="col">
          <div class="list" ng-if="aba == 0 && transacoes.length > 0 && socioLogado">
            <div class="item item-divider" style="font-size: 11px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;">
              <div class="row">
                <div class="col-40 text-left">Estabelecimento</div>
                <div class="col-20 text-center">Valor</div>
                <div class="col-20 text-right">Economia</div>
                <div class="col-20 text-center">Nota</div>
              </div>
            </div>
            <div class="row" style="font-size:12px;padding-right:0px;" ng-repeat="item in transacoes track by $index">
              <div class="col-40"><strong>{{ item.estabelecimento.nome }}</strong><br><small>{{ formatarData(item.createdAt) }}</small></div>
              <div class="col-20 text-right">R$ {{ item.valor.toFixed(2).replace('.', ',') }}</div>
              <div class="col-20  text-right"><strong>R$ {{ item.valorDesconto.toFixed(2).replace('.', ',') }}</strong>
              </div>

              <div class="col-20 text-center">
                <a ng-if="!item.nota" ng-click="avaliarTransacao(item)">Avaliar</a>
                <i ng-class="buscarIconeNota(item.nota)" ng-click="editarNota(item, $index)" ng-if="item.nota > 0"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>