@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

:root { 
  /* --cor_padrao: #212059; */
  --cor_padrao: #070252;
  --cor_secundaria: #fa5200;
  --cor_fonte_botao: #fa5200;
  --cor_fonte: white;
}

body, p, span, h1, h2, h3, h4, h5, h6, small, input, button {
  font-family: 'Ubuntu', sans-serif;
}

h1, .h1 {
  font-size: 24px; }

h2, .h2 {
  font-size: 16px; }

h3, .h3 {
  font-size: 14px; }

h4, .h4 {
  font-size: 12px; }

h5, .h5 {
  font-size: 10px; }

h6, .h6 {
  font-size: 8px; }

.small{
  font-size: 75%;
}

.lighter{
  font-weight: 100;
}

.cor_secundaria{
  color: var(--cor_secundaria);
}

.img_slide_circulo{
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  min-height: 150px;
  margin: 10% 23%;
}

.centralizacao {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.centralizacao_2 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}



.platform-ios {

  ion-content.scroll-content.ionic-scroll .scroll {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    padding-bottom: calc(constant(safe-area-inset-bottom) + 20px);
  }

  .has-footer {
    bottom: calc(env(safe-area-inset-bottom) + #{$bar-footer-height});
    bottom: calc(constant(safe-area-inset-bottom) + #{$bar-footer-height});
  }

  .has-subfooter {
    bottom: calc(env(safe-area-inset-bottom) + #{$bar-footer-height} + #{$bar-subfooter-height});
    bottom: calc(constant(safe-area-inset-bottom) + #{$bar-footer-height} + #{$bar-subfooter-height});
  }
}

.tabs {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  height: calc(constant(safe-area-inset-bottom) + 49px);
  height: calc(env(safe-area-inset-bottom) + 49px);
}

.button:hover {
  color: white;
  text-decoration: none;
}

.popup-container .popup {
border-radius: 15px;
background-color: rgba(255, 255, 255, 1);
}

.popup-buttons .button {
border-radius: 10px;
}


.ion-chevron-right{
  color: var(--cor_secundaria) !important;
}

.ion-chevron-left{
  color: var(--cor_secundaria) ;
}

.popup-body {
text-align: center;
}

.item {
  font-size: 14px; }
  .item h2 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal; }
  .item h3 {
    margin: 0 0 4px 0;
    font-size: 14px; }
  .item h4 {
    margin: 0 0 4px 0;
    font-size: 12px; }
  .item h5 {
    margin: 0 0 3px 0;
    font-size: 10px; }
  .item h6 {
    margin: 0 0 3px 0;
    font-size: 8px; }
  .item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px; }
}


.item-thumbnail-left,
.item-thumbnail-left .item-content {}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    border-radius: 50%;
}

.item-thumbnail-left{
  padding-left: 110px;
}

.cartao-texto {
    padding: 0px 10px 50% 15px;
  }
@media (min-width: 330px) { 
  .cartao-texto {
    padding: 0px 10px 50% 23px;
  }
}
@media (min-width: 400px) { 
  .cartao-texto {
    padding: 0px 10px 50% 30px;
  }
}
@media (min-width: 700px) { 
  .cartao-texto {
    padding: 10px 40px 50% 50px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1000px) { 
  .cartao-texto {
    padding: 0px 10px 50% 50px;
    margin-bottom: 100px;
  }
}


.side_menu_gradient {
  background: -webkit-linear-gradient(top left, var(--cor_padrao), black) ;
  /*background: -o-linear-gradient(bottom right, var(--cor_padrao), white);*/
  /*background: -moz-linear-gradient(bottom right, #0075be, #b0c4de);*/
  /*background: linear-gradient(bottom right, #0075be, #b0c4de); */
}

.border-list-perfil {
  border-color: var(--cor_padrao);
}

.side-menu-item {
  background: none;
  background-color: transparent;
  color: var(--cor_padrao);
  font-size: 14px;
  border: 0px; }

.side-menu-item .item-content {
    background-color: var(--cor_padrao);
  }

.side-menu-item .item-content.activated {
    background: rgba(255, 255, 255, 0.4); 
}

.item-icon-left .icon,
.item-icon-right .icon {
  height: 100%;
  font-size: 18px;}

.cartao{
  background-image: url('../img/cartao.png');
  /*background-size: contain;*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;  
}

.cartao_pagamento{
  background-image: url('./../img/cartao_padrao.png');
  /*background-size: 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;  
  /*padding-bottom: 200px;*/
}

.cartao-texto-pagamento {
    padding: 2px 0px 10px 15px;
}

.tela-inicial{
  /* background-image: url('./../img/tela-inicial-fundo.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--cor_padrao);
  border-style: none;
}

.header-item{
  /* background-image: url('./../img/logo_barra.png'); */
  background-color: var(--cor_padrao);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
}

.badge{
  background-color: #fafafa;
  color: #111;
  padding: 4px 0px;
}

.header-badge{
  top: 0px;
  left: 8px;
}

.button .badge {
  position: relative;
  top: -48px; 
}

.tabs .tab-item .badge.badge-positive,
.badge.badge-positive {
  background-color: var(--cor_padrao);
  color: #fff; 
}

.tabs-striped .tabs {
    /*background-color: var(--cor_padrao);*/
    background-color: #fbfbfb;    
    background-image: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: 2px;
}

.btn-filter {
  font-size: 0.9em;
  padding:2px 4px;
  min-height:0px;
  line-height:0px;
}

.btn-filter-mes {
  font-size: 1.0em;
  padding:2px 4px;
  min-height:24px;
  line-height:0px;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: #444;
  border-color: #444; 
}

.item-radio .item-content {
  padding-right:40px;
}

.item-radio .radio-icon {
  padding: 12px;
  font-size: 18px; 
}

.pink {
  color: var(--cor_padrao);
}

.bg-pink {
  background-color: var(--cor_padrao);
}

.border-pink {
  border-bottom: 2px solid var(--cor_padrao);
}

.black {
  color: #231f20;
}

.red {
  color: #FC2101;
}

.gray {
 color: #797979; 
}

.bg-orange {
  background-color: #FE880C;
}

.border-orange {
  border-bottom: 2px solid #FE880C;
}

.blue {
  color: #00b9f1;
}

.bg-blue {
  background-color: #00b9f1;
}

.border-blue {
  border-bottom: 2px solid #00b9f1;
}

.green {
  color: #008000;
}

.bg-green {
  background-color: #1B998B;
}

.border-green {
  border-bottom: 2px solid #1B998B;
}

.white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff;
}

.tab-title {
  /*color: #333;*/
  color: black;
  font-weight: bold;
  font-size: 7px;
  text-decoration: none;
}

/*.tab-item .icon {
  font-size: 22px;
  height: 22px;
}*/

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  /*border-color: var(--cor_padrao);*/
  border-color: #e2e2e2;
  color: white;
  padding-top:4px;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  padding-top:2px;
}

.tabs .tab-item .icon {
  font-size: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 50%;
  /*height: 100%;*/
  background-size:contain;}
  .tabs .tab-item .icon.icon-perfil {
    background-image: url('../img/icon-perfil.png');}
  .tabs .tab-item .icon.icon-categorias {
  background-image: url('../img/icon-categorias.png');}
  .tabs .tab-item .icon.icon-shows {
  background-image: url('../img/icon-shows.png');}
  .tabs .tab-item .icon.icon-pedidos {
  background-image: url('../img/icon-pedidos.png');}
  .tabs .tab-item .icon.icon-novidades {
  background-image: url('../img/icon-novidades.png');}
  .tabs .tab-item .icon.icon-economias {
  background-image: url('../img/icon-economias.png');}
  .tabs .tab-item .icon.icon-gastos {
  background-image: url('../img/icon-gastos1.png');}
}


.bar-stable .bar .bar-header {
  background-color: var(--cor_padrao);
  color: #ffffff;
}

.bar-header {
  border:none !important;
}

.bg-estabelecimento img {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  /*opacity: 0.6;*/
}

.bg-estabelecimento ion-slides {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

.bg-estabelecimento h1 {
  padding: 50px 50px 0px 50px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px #000;
}

.bg-estabelecimento h2 {
  padding: 0px 50px 0px 50px;
  position: relative;
  z-index: 3;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px #000;
}

.bg-estabelecimento button {
  z-index: 5;
  background-image: url('./../img/icon-back.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: 5px;
  padding: 0;
  white-space: nowrap;
  height: 15px;
  min-width: 30px;
}

.bg-estabelecimento.active, .button.activated {
  background-color: transparent;
}

.button-square {
  border-radius: 0px;
  font-size:15px;
  padding: 12px;
  text-align:center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.button-facebook, .button-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.bg-grey {
  background-color: #f0f0f0;
}

.button-pink, .button-pink:hover {
  color: #fff;
  background-color: var(--cor_padrao) !important;
}

.item-floating-label {
  background-color: rgba(0,0,0,0.5);
}

.item-floating-label .input-label {
  color: #fff !important;
}

.row-dia {
  height: 13.3%;
  margin-top: 20px;
}

.item-select select {
  background: transparent;
  color: #fff;
}

.item-select option {
  color: #000;
}

.platform-ios ion-modal-view {
  margin-top: 20px !important;
}

.button.transparent {
  background-color: transparent;
  border-color: transparent;
}

.button.active, .button.hover {
  background-color: var(--cor_padrao);
  border-color: var(--cor_padrao);
}

.button.active, .button.activated {
  background-color: var(--cor_padrao);
  border-color: var(--cor_padrao);
}

.select-account {
  color: #333 !important;
}

/*CUSTOM - YORKERS @2017*/

.bar-header {
    border: none !important;
    background: var(--cor_padrao);
    /*background: #828181;*/
    color: #f1f1f1!important;
	font-weight:999;
}

.platform-android .bar .title {
  font-size: 16px;
  /*line-height: 44px;*/
}

.bar .title {
  font-size: 16px;
  /*line-height: 44px;*/
}

h1,h2,h3,h4,h5,h6 {
	/*text-transform:uppercase;*/   /*Retirado por Cleiton*/
}

body {
	background: #f1f1f1!important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-header {
   background-color: var(--cor_padrao);
}

.btn-large {
	padding: 17px 18px;
  font-size:16px;
}

.btn-primary {
    color: white;
    background-color: var(--cor_fonte_botao);
    border-color: var(--cor_fonte_botao);
    font-weight: bold;
    /*font-size: 16px;*/
    /*text-transform: uppercase;*/
    /*border-radius: 30px;*/
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
}

.btn-second {
    color: var(--cor_fonte_botao);
    background-color: white;
    border-color: white;
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*border-radius: 30px;*/
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
}

.btn-default {
    color: #fff;
    background-color: var(--cor_padrao);
    border-color: var(--cor_padrao);
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*border-radius: 30px;*/
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
}

.btn-checkin_realizar {
    color: black;
    background-color: #ffed00;
    border-color: #ffed00;
    font-weight: bold;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
    width: 90%;
}

.btn-checkin_feito {
    color: white;
    background-color: green;
    border-color: green;
    font-weight: bold;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.11);
    border: 0!important;
    width: 90%;
}

a.btn-link {
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 1em;
    color: var(--cor_padrao);
}

.btn-active {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: var(--cor_padrao);
    text-shadow: 1px 1px 1px #333;
    box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.48);
    margin-top: -60px;
    position: relative;
    top: -9px;
    pointer-events: none;
    cursor: default;
}

.btn-disabled {
    background-color: #ccc;
}

.input-default {
	
	display: block;
    width: 100%;
    height: 34px;
    padding: 20px 12px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 0!important;
}

.row.bg-estabelecimento {
    background: rgba(0, 0, 0, 0.79);
}

.bg-estabelecimento h1 {
    padding: 50px 50px 0px 50px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 1px 2px #000;
}

.estabelecimento_dia_on{
/*  border-radius: 30px;
  padding: 5px;
  background: var(--cor_padrao);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
  border: 0;
  margin: 0 0px 0 0;
  color: #fff;
  font-size: 12px;
	text-transform: none;*/
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.estabelecimento_dia_off {
/*  border-radius: 30px;
  padding: 5px;
  background: var(--cor_padrao);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
  border: 0;
  margin: 0 0px 0 0;
  color: #fff;
  font-size: 12px;
  text-transform: none;*/
  text-decoration: none;
  font-weight: normal;
  color: gray;
}

.estabelecimento-dia-black {
    border-radius: 30px;
    padding: 5px;
    background: #333;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.48);
    border: 0;
    margin: 0 5px 0 0;
    color: #fff;
    font-size: 12px;
	text-transform: uppercase;
}

.hidden {
	display:none;
	}

.discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;  /*Cleiton - Antes era 5px 10px*/
    width: 35px; /*Cleiton - Antes era auto*/
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 42px;  /*Cleiton - Antes era 13px*/
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 16%;   /*Cleiton - Antes era 9%*/
    top: -36px!important; /*Cleiton - Antes era -5%*/
    font-size: 12px; /*Cleiton - Antes não tinha e o padrão era 16px*/
}

.agenda-div .discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;  /*Cleiton - Antes era 5px 10px*/
    width: 35px;
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 42px;  /*Cleiton - Antes era 13px*/
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 16%; 
    top: -36px!important;
    font-size: 12px; /*Cleiton - Antes não tinha e o padrão era 16px*/
}

.estabelecimentos-div .discount-tag {
  top: -36px!important;
  left: 16%; 
}

.tag-desconto-estabelecimento  {
  background-color: #e9e9e959;
  border-radius: 0;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
	padding: 0px 0px 0px 0px;
  position: relative;
	/*position: absolute;*/
	/*margin-top: -5px;*/
	/*margin-right: 5px;*/
  height: 80px;
	/*left: 7%;*/
	width: 70%;
  border-radius: 4px;
  display: -webkit-flex;
}
	
.tag-desconto {
	font-size: 1.3em;
	letter-spacing: 2px;
	line-height: 1em;
}

.tag-desconto-texto {
	letter-spacing:0px;
	font-size: 0.8em;
}

.promocao-titulo {
	background: #333;
	font-weight: 900;
	color:#ffffff!important;
	text-transform:uppercase;
	font-size: 1.2em;
	line-height: 1.4em;
}

h3.titulo-promocoes  {
	font-size: 1.5em!important;
}

.socio-estabelecimento {
	font-size: 1em;
	font-weight: 900;
}

.titulo-promocoes:after {
    display: block;
    width: 20%;
    content: '';
    border-bottom: 2px solid var(--cor_padrao);
    position: relative;
    left: 40%;
    margin-top: 12px;
}

.tag-border {
    border: 2px solid;
    font-size: 20px;
    padding: 6px;
    color: var(--cor_padrao);
    text-transform: uppercase;
    font-weight: bold;
}

.tag-back {
    text-transform: uppercase;
    background: #333;
    color: #f1f1f1;
    padding: 4px 7px;
    letter-spacing: 3px;
}

.eventos-borda {
    border: 2px solid #333;
    padding: 20px;
    margin: -50px 0px;
    background: rgba(215, 19, 88, 0.76);
}

.eventos-overlay {
    text-align: center;
    color: #333;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.79);
}

.conta-desconto {
    font-size: 1em;
    background: #ffed00;
    /*text-transform: uppercase;*/
    font-weight: bold;
    color: #333;
    /* text-shadow: 2px 1px 3px #000; */
    padding: 10px;
    /*letter-spacing: 0px;*/
    border: 2px solid #ffbc00;
}

.item-floating-label {
    background-color: #ffffff;
	color: #111111!important;
}

.item-floating-label .input-label {
    color: #111111!important;
}

label.item.item-input.item-select {
    background: #ffffff!important;
    color: #000000!important;
}

input {
	color:#000000;
}

.input-label {
  font-size: 14px;
	color:#a2a2a2!important;
}

@media (min-width: 600px) {	
	.discount-tag {
	left: 5%;	
	}
	.agenda-div .discount-tag {
    background-color: #ffed00;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    width: auto;
    position: absolute;
    color: #333;
    font-weight: 900;
    margin-top: 13px;
    margin-right: -5px;
    float: right;
    letter-spacing: 1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);
    left: 5%;
    top: -5px!important;
	}
}

.modal-backdrop, .modal-backdrop-bg {
  background-color: rgba(0,0,0,0.2);
}

.no-padding{
  padding:0;
}

.no-margin{
  margin: 0;
}
