<ion-modal-view>
	<ion-content class="text-center tela-inicial">

		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; color:white;" ng-click="fecharCadastro()">
				<img src="img/icon-back.png" style="padding-right: 30px; vertical-align:middle; height:80%"/>
			</div>
		</div>


	   	<div id="passo-1" ng-if="cadastro.passo == 1" class="list">
	  
			<div class="row" style="padding-top:17%;">
				  <div class="col">
						<h2 class="text-center white"><strong>Digite seu CPF</strong></h2>
						<span class="white">Insira somente números (sem ponto e traço)</span>
				  </div>
			</div>
			</br>
			<div class="row">
				 <div class="col">
						<div>
						 <label class="item item-input" style="border-top:0; border-left:0; border-right:0; background-color: transparent;">
						   <input type="tel" placeholder="CPF" style="color: #fff;text-align:center;" ng-model="cadastro.voucher">
						 </label>
					  </div>
				 </div>
			 </div>
			 </br>
			 <div class="row">
				 <div class="col text-center">
				   <button class="button button-block btn-primary" ng-class="{'btn-disabled' : !(cadastro.voucher)}" ng-click="validarVoucher()">Continuar</button>
				  </div>
			 </div>
		 
	   	</div>



		<div id="passo-2" ng-if="cadastro.passo == 2" class="list" style="padding-top:15px">
			
			<div class="row" style="padding-top:17%;">
				<div class="col">
					  <h2 class="text-center white">Olá <strong>{{cadastro.dados.nome}}</strong><br><br>
						que bom te receber aqui!<br><br>
						Antes de começar, cadastre uma senha:</h2>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					   <div>
						<label class="item item-input" style="border-top:0; border-left:0; border-right:0; background-color: transparent;">
						  <input type="password" placeholder="Senha" style="color: #fff;text-align:center;" ng-model="cadastro.senha">
						</label>
					 </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					   <div>
						<label class="item item-input" style="border-top:0; border-left:0; border-right:0; background-color: transparent;">
						  <input type="password" placeholder="Confirme a senha" style="color: #fff;text-align:center;" ng-model="cadastro.senha2">
						</label>
					 </div>
				</div>
			</div>
			<br>
	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-class="{'btn-disabled' : !(cadastro.senha && cadastro.senha2)}" ng-click="continuarCadastro()">Continuar</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>

		</div>


	   	<div id="passo-5" ng-if="cadastro.passo == 100" class="list">
	   		<div class="row" style="padding-top:17%;">
	     		<div class="col">
	       			<h2 class="text-center white"><strong>Login</strong></h2>
	       			<span class="white">Preencha seus dados abaixo</span>
	     		</div>
	   		</div>
	   		</br>
			<div class="row">
		    	<div class="col">
		       		<div>
				        <label class="item item-input" style="border-top:0; border-left:0; border-right:0; background-color: transparent;">
				          <input type="tel" placeholder="CPF" style="color: #fff;text-align:center;" ng-model="login.cpf">
				        </label>
				        <br>
				        <label class="item item-input" style="border-top:0; border-left:0; border-right:0;  background-color: transparent;">
				          <input type="password" placeholder="Senha" style="color: #fff;text-align:center;" ng-model="login.senha">
				        </label>
			     	</div>
			    </div>
		    </div>
		    </br>
			<div class="row">
			    <div class="col text-center">
			      <button class="button button-block btn-primary" ng-class="{'btn-disabled' : !(login.cpf && login.senha)}" ng-click="login()">Entrar</button>
			 	</div>
			</div>
			<!-- </br> -->
			<!-- <div class="row">
				<div class="col text-center">
			   		<a style="color: gray" ng-click="esqueceuSenha()">Esqueceu sua senha?</a>
			   	</div>
			</div> -->
		</div>

	</ion-content>
</ion-modal-view>