<ion-modal-view>
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; color:white;" ng-click="fecharModalProduto()">
				<img src="img/icon-back.png" style="padding-right: 30px;"/>
			</div>
		</div>
		</br>
		<div class="row">
			<img ng-src="{{ trustSrc(recuperarImagem(produto)) }}" style="width:100%; height:200px"/>
		</div>
		<div class="col text-left">
			<h2><strong>{{ produto.titulo }}</strong></h2>
          	<h4>{{ produto.descricao }}</h4>
          	<!-- <div class="row">
          		<div class="col" ng-bind-html="nl2br(decodeUTF8(produto.descricao), false)"></div>
          	</div> -->
          	<div class = "row">
          		<h3 class="gray" style="text-decoration:line-through;margin-top:10px;">De R$ {{ produto.valor.toFixed(2).replace('.', ',') }}</h3>
          		<h3 class="black">&nbsp;por&nbsp;</h3>
          		<h3 class="green"><strong> R$ {{ produto.desconto.toFixed(2).replace('.', ',') }}</strong></h3>
          	</div>
         	
		</div>
	</ion-content>
</ion-modal-view>
