<ion-view hide-nav-bar="true" title="" id="view-landing">
  <ion-content scroll="false" class="padding text-center tela-inicial">
  
    <img src="img/tela-inicial-logo.png" style="width:60%; padding-top:40%"/>
    
    <div class="col text-center" style="text-align: center; position: absolute; bottom: 28%; width:95%">
      <button class="button button-block btn-primary" style="text-align: center; width: 81%;margin-left: 10%; border-radius: 10px;" ng-click="criarConta(false)">
        Criar Conta
      </button>
    </div>
    
    </br>

    <div class="row" style="position: absolute; bottom: 22%; width:95%" >
      <div class="col text-center">
        <a class="btn btn-link" ng-click="irLogin()" style="color:white;">Já tenho conta. Entrar!</a>
      </div>
    </div>
    
 </ion-content>
</ion-view>

