<ion-modal-view>
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; color:white;" ng-click="fecharModalPerfil()">
				<img src="img/icon-back.png" style="padding-right: 30px; height:80%"/>
			</div>
		</div>
		</br>
		<span>Escolha o perfil:</span>
		<div class="row row-dia" ng-repeat="perfil in perfis | orderBy:'titulo'">
			<div class="col text-center">
				<h3 ng-click="trocarPerfilPara(perfil)">{{ perfil.titulo }}</h3>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
