<!-- <ion-modal-view style="background-color: rgba(0, 0, 0, 0.1);"> -->
<ion-modal-view 
	style="top:10%; 
	left:7%;
	min-height: 75%;
    width: 85%;
    background-color: #fbfbfb">


	<!-- <ion-content class="text-center" style="margin: 25% 7% !important; background: #fbfbfb"> -->
	<ion-content class="text-center">

		<div class="title title-left header-item" style="height:43px;background-image:none" ng-click="fecharModalCheckin()">
			<div style="display:table-cell; padding:10px; color:white;" >
				<i class="ion-close-round" style="padding-right: 30px; height:60%"/>
			</div>
		</div>
	
		<br>

		<div class="row">
			<div class="col-40">
				<h1 style="font-size:20px; margin:0">{{weekday | uppercase}}</h1>
				<h1 style="font-size:80px; margin-top: -14px; margin-bottom: -6px;">{{data | date:'dd'}}</h1>
				<span style="font-size:20px; margin:0">{{mes | uppercase}}</span>
			</div>
			<div class="col-60">
				<div ng-if="promocao.desconto == 0">
					$$$
				</div>
				<div class="red" ng-if="promocao.desconto != 0">
					<i class="ion-pricetag" style="font-size: 40px;"></i><br>
					<h1 class="red" style="font-size: 22px; font-weight: 500; margin-top: 0;">{{ promocao.desconto }}% de desconto</h1>
					<h2 style="margin-bottom: 1px"><strong>{{estabelecimento.nome}}</strong></h2>
					<h4 class="lighter" style="margin-top: 0">{{ estabelecimento.endereco }}, {{ estabelecimento.numero }} - {{ estabelecimento.bairro }} - {{ estabelecimento.cidade }}</h4>
				</div>
			</div>
		</div>
		
		<br>
		
		<div class="row text-left" style="padding: 5px 20px;">
			<div class="col">
				<h2><strong>IMPORTANTE:</strong></h2>
				<h4 class="lighter">Confira atentamente a regra de uso da promoção.</h3>
				<h4 class="lighter">Ao chegar no local, clique no botão 'Olá! Estou aqui' para confirmar sua presença e apresente a validação na recepção.</h3>
				<h4 style="font-weight: bold;">Será descontado o valor de R$1,99 dos seus créditos.</h3>
			</div>
		</div>

	    <div class="row">
	      <div class="col">
	        <button class="button button-block btn-primary" ng-click="realizarCheckin()">Olá! Estou aqui.</button>
	      </div>
	    </div>

	    <br>

	</ion-content>
</ion-modal-view>
