
<!-- Modal utilizado no menu 'Meus Dados' para editar o perfil escolhido no momento do cadastro -->

<ion-modal-view>
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; color:white;" ng-click="fecharModalEstilo(checkItems[0])">
				<img src="img/icon-back.png" style="padding-right: 30px;height:80%"/>
			</div>
		</div>
		</br>
		<span>O que você pretende fazer com o dinheiro que economizar com o clube?</span>
		<div class="list" style="padding-top: 10px;">

			<ion-list>
					<div ng-repeat="perfil in perfis">
				  		<ion-radio ng-model="checkItems[0]" value="{{perfil.id}}" ng-click="perfil.id == '7' && abrirInput()">{{perfil.titulo}}
				  			<span ng-if="perfil.id == '7' && socio.estiloOutro" style="font-style: italic"> - {{socio.estiloOutro}}</span>
				  		</ion-radio>

					</div>
			</ion-list>
        </div>
	</ion-content>
</ion-modal-view>
