<!-- <ion-modal-view style="background-color: rgba(0, 0, 0, 0.1);"> -->
	<!-- <ion-modal-view 
	style="top:5%; 
	left:7%;
	min-height: 85%;
    width: 85%;
	background-color: #fbfbfb"> -->
	<ion-modal-view>


	<!-- <ion-content class="text-center" style="margin: 25% 7% !important; background: #fbfbfb"> -->
	<ion-content class="text-center">

		<div class="title title-left header-item" style="height:43px;background-image:none" ng-click="fecharModalAnalise()">
			<div style="display:table-cell; padding:10px; color:white;" >
				<i class="ion-close-round" style="padding-right: 30px; height:60%"/>
			</div>
		</div>
		
		<div class="row">
			<div class="card no-margin">
				<div class="item item-divider">
					Análise 50-30-20
				</div>
				<div class="item item-text-wrap">
					<canvas id="bar" class="chart chart-bar" chart-dataset-override="datasetOverride" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-colors="colors" chart-options="{showTooltips: false, scales: {yAxes: [{ticks: {beginAtZero: true}}]}}"></canvas>
				</div>
				<div class="item item-text-wrap">
					<h4 class='lighter gray no-margin'>Análise dos seus gastos Essenciais</h4>
					<h3 style='margin-top: 0px;'>{{analise_1_texto}}</h3>
					<br>
					<h4 class='lighter gray no-margin'>Análise dos seus gastos Variáveis</h4>
					<h3 style='margin-top: 0px;'>{{analise_2_texto}}</h3>
					<br>
					<h4 class='lighter gray no-margin'>Análise da sua Reserva/Dívida</h4>
					<h3 style='margin-top: 0px;'>{{analise_3_texto}}</h3>
					<!-- <br> -->
				</div>
				<div class="item item-text-wrap">
					<button class="button button-block btn-primary" ng-click="fecharModalAnalise()">Entendi</button>
				</div>
			</div>
		</div>

	</ion-content>
</ion-modal-view>
