<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Ingresso</span></div>"> -->
<ion-view>

  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon ion-share" ng-click="screenShot()" ng-show="ingresso.customer.document"></button> -->
    <!-- <button class="button button-icon ion-share" ng-click="limparCache()" ng-show="ingresso.customer.document"></button> -->
  </ion-nav-buttons>

  <ion-content class="padding ">

    <!-- Caso já tenha preenchido o nome/documento então aparece o ingresso -->
    <div ng-show="ingresso.customer.document">

      <img style="width: 100%" src="img/fundo-ingresso-topo.png" />

      <div style="border-style: solid; border-right-width: thin;border-left-width: thin; border-color:lightgray;">

        <div class="row">
          <div class="col-100">
            <h6 class="gray" style="margin-bottom: 0px">EVENTO</h6>
            <h4 style="margin-top: 3px"><strong>{{pedido.eventName}}</strong></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-66">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">LOCAL</h6>
            <h4 style="margin-top: 3px"><strong>{{ingresso.place}}</strong></h4>
          </div>
          <div class="col-33" style="text-align: left">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">DATA e HORARIO</h6>
            <h4 style="margin-top: 3px"><strong>{{ingresso.eventDate | limitTo:16 }}</strong></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-66">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">PARTICIPANTE</h6>
            <h4 style="margin-top: 3px"><strong>{{ ingresso.customer.name }}</strong></h4>
          </div>
          <div class="col-33" style="text-align: left">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">DOCUMENTO</h6>
            <h4 style="margin-top: 3px"><strong>{{ ingresso.customer.document }}</strong></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-66">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">INGRESSO</h6>
            <h4 style="margin-top: 3px"><strong>{{ ingresso.ticketName }}</strong></h4>
          </div>
          <div class="col-33" style="text-align: left">
            <h6 class="gray" style="margin-bottom: 0px; margin-top: 0px">ASSENTO</h6>
            <h4 style="margin-top: 3px"><strong>{{ ingresso.line }}{{ ingresso.seat }}</strong></h4>
          </div>
        </div>
        <div class="row">
          <h4 ng-show="ingresso.nfce.linkSefaz"><i class="ion-link gray"></i>
            <a style="text-decoration:underline; color:gray; font-weight: normal; font-size:12px;" stop-event ng-click="irParaDestino(ingresso.nfce.linkSefaz)"> Clique aqui para visualizar sua NFC-e</a></h4>
        </div>

        <div class="row" style="padding-top:10px;">
          <div class="col text-center">
            <!-- <img ion-img-cache ng-src="{{ QRCode }}"></img> -->
            <img ion-img-cache ng-src="{{QRCode}}" imageonload="imageLoaded(imagem)" ng-show="imagem.loaded"></img>
            <ion-spinner ng-show="!imagem.loaded"></ion-spinner>
          </div>
        </div>
        <div class="row" style="padding-top:10px;">
          <div class="col text-center">
            <img style="width:70%;" ion-img-cache ng-src="{{ BarCode }}"></img>
          </div>
        </div>
        
      </div>

      <img style="width: 100%" src="img/fundo-ingresso-fim.png" />

    </div>


    <!-- Caso não tenha preenchido o Nome/Documento -->
    <div class="list" ng-show="!ingresso.customer.document">

      <div style="text-align:center">
        <h3 class="red" style="padding: 15px 0px 0px 0px; margin-bottom: 0px"><strong> {{pedido.eventName}}</strong></h3>
        <img src="img/barra-pedido.png" />
        <h4 class="gray" style="margin-top: 0px;"><i class="ion-calendar"></i> &nbsp;{{ingresso.eventDate}}</h4>
        <h4 class="gray"><i class="ion-location"></i> &nbsp;{{ingresso.place}}</h4>
        <h4 class="gray"><i class="ion-pound"></i> &nbsp;{{pedido.orderNumber}}</h4>
      </div>

      <div class="row">
        <div class="col-80">
          <h4 class="red" style="padding-top:8px; padding-left:10px;"><i class="ion-pricetag gray"></i><strong> &nbsp;{{ ingresso.ticketName }}</strong></h4>
        </div>
        <div class="col-20">
          <h4 class="red" style="padding-top:8px; padding-left:10px;" ng-show="ingresso.line || ingresso.seat"><i class="ion-grid gray"></i><strong> &nbsp;{{ ingresso.line }}{{ ingresso.seat }}</strong></h4>
        </div>
      </div>

      <label class="item item-input">
        <input type="text" placeholder="Nome Completo" ng-model="nome">
      </label>
      <br>
      <label class="item item-input">
        <input type="tel" placeholder="CPF ou RG" ng-model="documento"></input>
      </label>

      <button class="button button-block btn-primary" style="margin-top:20px;" ng-click="salvar(nome, documento)">Salvar</button>
    </div>
 
  </ion-content>

</ion-view>
