<!-- <ion-view view-title="<div><span style='vertical-align:middle;'> Meus Pedidos ({{pedidos.length}})</span></div>"> -->
<ion-view>

  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back" style="color:white"></i>
  </ion-nav-back-button>


  <ion-content>

    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>


    <div ng-show="dadosCarregados && (socioLogado == false)" class="text-center">
      <img src="img/logo.png" style="width:70%; padding-top: 10%"/>
      <div class="row">
        <div class="col">
          <h4 class="gray">Faça já o seu login ou cadastre-se agora mesmo para ter acesso aos benefícios e recursos exclusivos</h4>
          </br></br>
          <button class="btn btn-large btn-primary button-block" ng-click="irCadastro()">CADASTRE-SE</button>
          </br></br>
          <button class="btn btn-large btn-second button-block" ng-click="irLogin()" style="font-weight:normal">Já sou associado</button>
        </div>
      </div>
    </div>


    <div ng-show="(socioLogado == true)">

      <div class="row">
        <div class="col-70"> 
          <h3 class="gray" style="padding:10px 0px 0px 6px;"><strong> Meus Pedidos Aprovados ({{pedidos.length}})</strong></h3>
        </div>
        <div class="col-30"> 
          <h3 class="gray" style="padding:13px 5px 0px 0px;text-align:right;font-size:12px;">{{flagOnline}}</h3>
        </div>
      </div>

      <div class="list" style="margin-bottom:0px;">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Pesquise por um pedido, data ou evento..." ng-model="busca.nome" ng-enter="fecharTeclado()" style="width:285px">
          </label>
          <button class="button button-small" ng-click="busca.nome = ''">
            <i class="icon-close"></i>
          </button>
        </div>
  	   </div>

      <ion-list>
        <div class="row" ng-if="dadosCarregados == false && pedidos.length == 0">
          <div class="col text-center">
            <ion-spinner icon="spiral"></ion-spinner>
          </div>
        </div>
        
        <a class="item item-icon-right" ng-repeat="pedido in (retorno = (pedidos | filter:{$:busca.nome}) | orderBy:orderNumber:true )" ng-click="irParaPedido(pedido)">

          <h3 style="padding-top:0px;" class="red"><strong>{{ pedido.eventName }}</strong></h3> <!-- white-space:normal -->
          <h4 style="padding-top:8px;" class="gray"><i class="ion-calendar"></i> {{ pedido.eventDate | limitTo:16}}</h4>
          <h4 style="padding-top:8px;" class="gray"><i class="ion-pound"></i> {{ pedido.orderNumber }}</h4>
          
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-list>

      <div class="row" ng-show="retorno.length == 0 && pedidos.length == 0 && dadosCarregados">
        <div class="col text-center">
          <div style="padding-top:20px">
            <img src="img/noorders.png" />
          </div>
          <BR>
          <h2 class="gray"><strong>Você ainda não possui nenhum pedido aprovado!</strong></h2>
          <BR><BR>
          <button class="btn btn-large btn-default" ng-click="irParaDestino('https://www.aloingressos.com.br')">Faça um pedido agora</button>
          <BR><BR><BR><BR>
          <h4 class="gray">
            <strong>Dúvidas e Informações:<BR>
            Acesse nossa <a style="text-decoration:underline; color:red; font-weight: bold; font-size:12px;" stop-event ng-click="irParaDestino('https://www.aloingressosempresa.com.br/central-de-ajuda')"> Central de Ajuda</a> ou <BR>
            ligue (41) 3042-6262</strong>
          </h4>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
