<ion-view view-title="<div><span style='vertical-align:middle;'>Planejamento</span></div>">
    <!-- <ion-view> -->

        <ion-nav-buttons side="right">
            <button class="button btn-header" ng-click="abrirSlides()">
                  <img style="width:30px; color:white; margin:2px;" src="img/icon-como-utilizar.png" />
            </button>
          </ion-nav-buttons>

  
        <ion-content padding="false">
            
            <!-- Totais -->
            
            <div class="row centralizacao_2" style="padding:5px 25px; color: white !important; background-color: #212059; border-top: 1px; border-top-color: white; border-top-style: solid;">
                <h3 style="margin:10px 0px -2px 0px; font-weight: lighter;">Reserva</h3>
            </div>                
            <div class="row centralizacao_2" 
                style="padding:10px 25px 15px; 
                color: white !important; 
                background-color: #212059; 
                border-top: 0px; 
                border-top-color: white; 
                border-top-style: solid;">
                <div class="col-50 text-center" ng-click="mostrarAjuda('2')">
                    <h5 style="margin:0px;">Ideal</h5>
                    <h2 style="margin-bottom:10px;
                        margin-top:3px;
                        font-size: 20px;
                        margin-bottom: 5px;
                        border: white;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 5px;
                        padding: 5px;">
                        R$ {{ reserva_ideal.toFixed(2).replace('.', ',') }}
                    </h2>
                    <img style="width:18px;margin: -2px;" src="img/icon-como-utilizar.png" />
                </div>
                <div class="col text-center">
                    <!-- <h5 style="margin:0px; font-weight: lighter; font-size:28px; color: lightgray">|</h5> -->
                </div>
                <div class="col-50 text-center" ng-click="mostrarAjuda('1')">
                    <h5 style="margin:0px;">
                        {{reserva_ate_mes_txt}}                    
                    </h5>
                    <h2 style="margin-bottom:10px;
                        margin-top:3px;
                        font-size: 20px;
                        margin-bottom: 5px;
                        border: white;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 5px;
                        padding: 5px;
                        background-color: var(--cor_secundaria);">
                        R$ {{ reserva_ate_mes.toFixed(2).replace('.', ',') }} 
                        <!-- {{ reserva_ate_mes | currency:'BRL':true}}  -->
                    </h2>
                    <img style="width:18px;margin: -2px;" src="img/icon-como-utilizar.png" />
                </div>
                
                
            </div>
            
              
            <!-- Mês -->
            <div class="row text-center" style="padding-top: 10px; padding-bottom: 0px;">
                <div class="col text-center" style="padding-bottom: 0px;">
                    <h5 class="gray text-center" style="margin-top:5px;margin-bottom:0px;"><i class="ion-calendar"></i>&nbsp;&nbsp;Mês</h5>
                    <div class="row">
                        <div class="col-20">
                            <button class="button btn-filter-mes transparent gray" ng-click="trocarMes(-1)"><i class="ion-chevron-left"></i></button><br>
                        </div>
                        <div class="col-60">
                            <!-- <button class="button btn-filter-mes active">{{ mes_txt }}</button><br> -->
                            <h3>{{mes_txt}}</h3>
                        </div>
                        <div class="col-20">
                            <button class="button btn-filter-mes transparent gray" ng-click="trocarMes(1)"><i class="ion-chevron-right"></i></button><br>
                        </div>
                    </div>
                </div>
            </div>



            <ion-list class="estabelecimentos-div" style="border-style:none;" >
                <a class="item item-icon-right" ng-click="abrirModalGastos(1)" style="background: #FAF8F8; margin: 10px 0px 0px 0px; border: 0; padding-top:10px; padding-bottom: 10px;">
                  <!-- <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-todos-fpt.png" style="object-fit:cover"> -->
                    <div style="width:100%; height:100%; padding:0%;">
                        <div class="row">
                            <div class="col">
                                <h3 style="color:black; font-weight:bold;">RENDA</h3>
                            </div>
                            <div class="col">
                                <h3 style="text-align: right;">{{valor.receita_1 + valor.receita_2 + valor.receita_3 + valor.receita_outros - valor.desconto_1 | currency : 'R$ '}}</h3>
                            </div>
                        </div>
                    </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </a> 
                <a class="item item-icon-right" ng-click="abrirModalGastos(2)" style="background: #FAF8F8; margin: 10px 0px 0px 0px; border: 0; padding-top:10px; padding-bottom: 10px;">
                    <!-- <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-todos-fpt.png" style="object-fit:cover"> -->
                    <div style="width:100%; height:100%; padding:0%;">
                      <div class="row">
                        <div class="col">
                            <h3 style="color:black; font-weight:bold;">GASTOS ESSENCIAIS</h3>
                        </div>
                        <div class="col">
                            <h3 style="text-align: right;">{{valor.despesa_essencial_1 + valor.despesa_essencial_2 + valor.despesa_essencial_3 + valor.despesa_essencial_4 + valor.despesa_essencial_5 + valor.despesa_essencial_6 + valor.despesa_essencial_7 + valor.despesa_essencial_8 + valor.despesa_essencial_9 + valor.despesa_essencial_10 + valor.despesa_essencial_11 + valor.despesa_essencial_outros | currency : 'R$ '}}</h3>
                        </div>
                    </div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </a> 
                  <a class="item item-icon-right" ng-click="abrirModalGastos(3)" style="background: #FAF8F8; margin: 10px 0px 0px 0px; border: 0; padding-top:10px; padding-bottom: 10px;">
                    <!-- <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-todos-fpt.png" style="object-fit:cover"> -->
                    <div style="width:100%; height:100%; padding:0%;">
                      <div class="row">
                        <div class="col">
                            <h3 style="color:black; font-weight:bold;">GASTOS VARIÁVEIS</h3>
                        </div>
                        <div class="col">
                            <h3 style="text-align: right;">{{valor.despesa_nao_1 + valor.despesa_nao_2 + valor.despesa_nao_3 + valor.despesa_nao_4 + valor.despesa_nao_5 + valor.despesa_nao_6 + valor.despesa_nao_7 + valor.despesa_nao_8 + valor.despesa_nao_8 + valor.despesa_nao_10 + valor.despesa_nao_11 + valor.despesa_nao_outros | currency : 'R$ '}}</h3>
                        </div>
                    </div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </a>
                  <a class="item item-icon-right" ng-click="abrirModalGastos(4)" style="background: #FAF8F8; margin: 10px 0px 0px 0px; border: 0; padding-top:10px; padding-bottom: 10px;">
                    <!-- <img ng-src="http://cikluslive.com.br/admin/uploads/app-cat-todos-fpt.png" style="object-fit:cover"> -->
                    <div style="width:100%; height:100%; padding:0%;">
                      <div class="row">
                        <div class="col">
                            <h3 style="color:black; font-weight:bold;">DÍVIDAS ATRASADAS</h3>
                            <h4>(Total: {{valor.divida_1 + valor.divida_2 + valor.divida_3 + valor.divida_4 + valor.divida_5 | currency : 'R$ '}})</h4>
                        </div>
                        <div class="col">
                            <h3 style="text-align: right;">{{valor.despesa_divida_1 + valor.despesa_divida_2 + valor.despesa_divida_3 + valor.despesa_divida_4 + valor.despesa_divida_5 | currency : 'R$ '}}</h3>
                        </div>
                    </div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </a>
              </ion-list>

              <div class="row"  style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                <div class="col-30">
                    <h4 class="no-margin">Recebi</h4>
                    <h4 class="no-margin">{{valor.receita_1 + valor.receita_2 + valor.receita_3 + valor.receita_outros - valor.desconto_1 | currency : 'R$ '}}</h4>
                </div>
                <div class="col">
                    <h4 class="no-margin">-</h4>
                </div>
                <div class="col-30">
                    <h4 class="no-margin">Gastei</h4>
                    <h4 class="no-margin">{{valor.despesa_essencial_1 + valor.despesa_essencial_2 + valor.despesa_essencial_3 + valor.despesa_essencial_4 + valor.despesa_essencial_5 + valor.despesa_essencial_6 + valor.despesa_essencial_7 + valor.despesa_essencial_8 + valor.despesa_essencial_9 + valor.despesa_essencial_10 + valor.despesa_essencial_outros + valor.despesa_nao_1 + valor.despesa_nao_2 + valor.despesa_nao_3 + valor.despesa_nao_4 + valor.despesa_nao_5 + valor.despesa_nao_6 + valor.despesa_nao_7 + valor.despesa_nao_8 + valor.despesa_nao_8 + valor.despesa_nao_10 + valor.despesa_nao_11 + valor.despesa_nao_outros + valor.despesa_divida_1 + valor.despesa_divida_2 + valor.despesa_divida_3 + valor.despesa_divida_4 + valor.despesa_divida_5 | currency : 'R$ '}}</h4>
                </div>
                <div class="col">
                    <h4 class="no-margin">=</h4>
                </div>
                <div class="col-30">
                    <h4 class="no-margin">Sobrou</h4>
                    <h4 class="no-margin">{{(valor.receita_1 + valor.receita_2 + valor.receita_3 + valor.receita_outros - valor.desconto_1) - (valor.despesa_essencial_1 + valor.despesa_essencial_2 + valor.despesa_essencial_3 + valor.despesa_essencial_4 + valor.despesa_essencial_5 + valor.despesa_essencial_6 + valor.despesa_essencial_7 + valor.despesa_essencial_8 + valor.despesa_essencial_9 + valor.despesa_essencial_10 + valor.despesa_essencial_outros + valor.despesa_nao_1 + valor.despesa_nao_2 + valor.despesa_nao_3 + valor.despesa_nao_4 + valor.despesa_nao_5 + valor.despesa_nao_6 + valor.despesa_nao_7 + valor.despesa_nao_8 + valor.despesa_nao_8 + valor.despesa_nao_10 + valor.despesa_nao_11 + valor.despesa_nao_outros + valor.despesa_divida_1 + valor.despesa_divida_2 + valor.despesa_divida_3 + valor.despesa_divida_4 + valor.despesa_divida_5) | currency : 'R$ '}}</h4>
                </div>
            </div>

            <div class="row text-center" style="padding-right:0px; padding-left: 0px; padding-bottom:20px;">
                <div class="col">
                    <button class="button button-block btn-primary" ng-click="salvar()">Analisar</button>
                </div>
            </div>

        </ion-content>
      
      </ion-view>