<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Alterar Senha</span></div>"> -->
<ion-view>

	
	  <ion-nav-buttons side="left">
	    <button class="button button-icon ion-navicon" ng-click="openMenu()"></button>
	  </ion-nav-buttons> 
	
  
	<ion-content padding="false">
		
        <div class="list" style="padding-top: 10px;">
          <label class="item item-input">
            <span class="input-label">Senha Atual:</span>
            <input type="password" ng-model="senha">
          </label>
          <label class="item item-input">
            <span class="input-label">Nova Senha:</span>
            <input type="password" ng-model="senha_nova"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Confirme Nova Senha:</span>
            <input type="password" ng-model="senha_confirma">
          </label>

          <button class="button button-block btn-primary" style="margin-top:20px;" ng-click="salvarSenha(senha, senha_nova, senha_confirma)">Salvar</button>
        </div>

	</ion-content>

</ion-view>