<ion-view view-title="<div><span style='vertical-align:middle;'>Dúvidas / Sugestões</span></div>">
<!-- <ion-view> -->
  
	
	  <ion-nav-buttons side="left">
	    <button class="button button-icon ion-navicon" ng-click="openMenu()"></button>
	  </ion-nav-buttons> 
	
	<ion-content padding="false">

    <div class="card">
      <div class="item item-divider">
        <h4 style="white-space:normal">Tem alguma dúvida, sugestão ou gostaria de enviar uma crítica??<h4>
        </br>
        <h4>Digite abaixo e clique em Enviar.</h4>
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input" style="padding:0px;">
          <textarea style="height:200px" ng-model="texto"></textarea>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block btn-primary" ng-click="enviarSugestao(texto)">Enviar</button>
      </div>
    </div>

	</ion-content>

</ion-view>