<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Planos e Faturas</span></div>"> -->
<ion-view>
	
	  <ion-nav-buttons side="left">
	    <button class="button button-icon ion-navicon" ng-click="openMenu()"></button>
	  </ion-nav-buttons> 
	
	<ion-content padding="false">
		
    <div class="row">
      <div class="col text-center">
        <button class="btn-primary btn btn-large" ng-click="alterarCartao()"><i class="ion-card"></i>&nbsp;Alt. cartão</button>
      </div>
      <div class="col text-center">
        <button class="btn-primary btn btn-large" ng-click="alterarPlano()"><i class="ion-ios-cart"></i>&nbsp;Alt. plano</button>
      </div>
    </div>
    <hr />
    <div class="row" ng-if="cartoes.length == 0">
      <div class="col">
        <h5>Você ainda não tem cartões.</h5>
      </div>
    </div>
    <div class="row" ng-if="cartoes.length > 0">
      <div class="col-50">
        <strong>#</strong>
      </div>
      <div class="col">
        <strong>Bandeira</strong>
      </div>
    </div>
    <div class="row" ng-repeat="cartao in cartoes track by $index" ng-if="cartao.id == socio.iugu.card.id">
      <div class="col-50">{{ cartao.first_digits }}XXXXXX{{ cartao.last_digits }}</div>
      <div class="col">{{ cartao.brand }}</div>
    </div>
    <hr />
    <div class="row" ng-if="faturas.length == 0">
      <div class="col">
        <h5>Você ainda não tem faturas.</h5>
      </div>
    </div>
    <div class="row" ng-if="faturas.length > 0">
      <div class="col">
        <strong>Data</strong>
      </div>
      <div class="col">
        <strong>Preço</strong>
      </div>
      <div class="col">
        <strong>Status</strong>
      </div>
      <div class="col">
        <strong>Cartão</strong>
      </div>
    </div>
    <div class="row" ng-repeat="fatura in faturas" ng-if="faturas.length > 0">
      <div class="col">
        {{ formatarData(fatura.date_created) }}
      </div>
      <div class="col">
        R${{ formatarPreco(fatura.amount) }}
      </div>
      <div class="col">
        {{ fatura.status == "paid" ? "Pago" : "Em aberto" }}
      </div>
      <div class="col">
        {{ fatura.payment_method == "boleto" ? "Boleto" : fatura.card.last_digits }}
        <!-- {{ fatura.card.last_digits }} -->
      </div>
    </div>

	</ion-content>

</ion-view>