<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <!-- <ion-header-bar> -->
    <!-- </ion-header-bar> -->
    <ion-content style="top:0px !important;background-color: var(--cor_padrao);" ng-show="socioLogado && (aba == 0)" >
      <!-- class="side_menu_gradient" -->

      <div style = "vertical-align: middle; text-align: center; padding-top: 25px;">
        <img style="width:100px;" src="img/logo_menu_lateral.png" />
      </div>
      <BR>

      <ion-list>
        <ion-item class="item-icon-left side-menu-item white border-list-perfil" menu-close="" ng-click="irCartao()">
          <i class="icon ion-card"></i>Meu Cartão</ion-item>
        </ion-item>
        <!-- <ion-item class="item-icon-left side-menu-item white" menu-close="" ng-click="irTransacoes()">
          <i class="icon ion-calculator"></i>Minhas Economias</ion-item>
        </ion-item> -->
        <ion-item class="item-icon-left side-menu-item white" menu-close="" ng-click="irPerfil()">
          <i class="icon ion-person"></i>Meu Dados</ion-item>
        </ion-item>
        <!-- <ion-item class="item-icon-left side-menu-item white" menu-close ng-click="irFaturas()" ng-show="mostrarPlanos > 0">
          <i class="icon ion-social-usd"></i>Planos e Faturas</ion-item>
        </ion-item> -->
        <!-- <ion-item class="item-icon-left side-menu-item white" menu-close ng-click="irSenha()">
          <i class="icon ion-asterisk"></i>Alterar Senha</ion-item>          
        </ion-item> -->

        </br>

        <ion-item class="item-icon-left side-menu-item white" menu-close ng-click="irInstrucoes()">
          <i class="icon ion-information-circled"></i>Boas Vindas</ion-item>          
        </ion-item>
        <ion-item class="item-icon-left side-menu-item white" menu-close ng-click="irSugestao()">
          <i class="icon ion-chatboxes"></i>Dúvidas / Sugestões?</ion-item>
        </ion-item>

        <ion-item class="item-icon-left side-menu-item white" ng-click="">
          <i class="icon ion-disc"></i>Sobre</ion-item>          
        </ion-item>

        </br></br>

        <ion-item class="item-icon-left side-menu-item white" ng-click="logout()">
          <i class="icon ion-log-out"></i>Sair</ion-item>
        </ion-item>

      </ion-list>

    </ion-content>

    <ion-footer-bar class="bar bar-footer">
      <div style="font-size:8px; text-align:center" ng-click="irDestino('http:\\www.ciklus.com.br')">
        Developed by <img style='vertical-align:middle; width:30%;' src='img/logo_ciklus.png'/>
      </div>
    </ion-footer-bar>

  </ion-side-menu>

</ion-side-menus>