<ion-view view-title="<div><span style='vertical-align:middle;'>Meu Cartão Virtual</span></div>">
<!-- <ion-view> -->

  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" ng-click="openMenu()" ng-show="socioLogado && (aba == 0)">
    </button>
  </ion-nav-buttons>  


  <ion-content class="padding">
  
    <!-- <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher> -->


<!--     <div ng-show="dadosCarregados && (socioLogado == false)" class="text-center">
      <img src="img/logo.png" style="width:70%; padding-top: 10%"/>
      <div class="row">
        <div class="col">
          <h4 class="gray">Faça já o seu login ou cadastre-se agora mesmo para ter acesso aos benefícios e recursos exclusivos</h4>
          </br></br>
          <button class="btn btn-large btn-primary button-block" ng-click="irCadastro()">CADASTRE-SE</button>
          </br></br>
          <button class="btn btn-large btn-second button-block" ng-click="irLogin()" style="font-weight:normal">Já sou associado</button>
        </div>
      </div>
    </div> -->

  
    <div ng-show="dadosCarregados && (socioLogado == true)">

      <div ng-show="aba ==0">

        <!-- <ion-item class="cartao" style="padding-bottom:0px; padding-left:0px;" ng-click="mudarAba(2)"> -->
        <ion-item style="padding-bottom:0px; padding-left:0px; margin:5px;
        background-image: url('img/cartao.png');
  /*background-size: contain;*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;  ">
        
          <div class="cartao-texto">
            <div class="row">
              <div class="col text-right">
                <h2 style="color:white; text-transform:uppercase; padding-bottom:10px; padding-top: 20px"><strong>{{socio.nome}}</strong></h2>
                <h3 style="color:white;">CPF: <strong style="color:white;">{{ socio.cpf }}</strong></h3>
                <!-- <br> -->
                <!-- <h2 style="color:black;">CPF: <strong style="color:black;">{{ socio.cpf }}</strong></h2> -->
                <!-- <h2 style="color:white;">Plano <strong style="color:white;" ng-bind="recuperarPlano()"></strong></h2> -->
              </div>
            </div>
            <!-- <div class="row" style="padding-top:15px;">
              <div class="col text-left">
                <h5 style="color:white;">Validade</h5>
                <strong style="color:white;" ng-if="iugu.status != 'canceled'" ng-bind="recuperarExpiracao()"></strong>
                <strong style="color:white;" ng-if="iugu.status == 'canceled'"">-</strong>
                <strong class="ion-checkmark-circled" style="color:green" ng-if="status"></strong>
                <strong class="ion-close-circled" style="color:red" ng-if="!status"></strong>
              </div>
            </div> -->
          </div>
        
        </ion-item>

        <!-- <div class="row" style="padding-top:20px;">
          <div class="col text-center">
            <img ng-src="{{ retornarLinkQrCode() }}">
            </br>
            {{socio.cpf}}
          </div>
        </div> -->

        <div class="row" style="padding-top:20px;">
          <div class="col text-center">
            <img ng-src="{{ recuperarLogoEmpresa() }}" style="width: 50%" />
          </div>
        </div>
      <!-- </div>  -->

      <!-- <div ng-show="aba == 2">

        <ion-item class="cartao" style="padding-bottom:0px; padding-left:0px;"" ng-click="mudarAba(0)">
          <div class="cartao-texto">
            <div class="row">
              <div class="col text-left">
                <h2 style="color:white; text-transform:uppercase; font-size:120%;padding-bottom:5px"><strong>{{socio.nome}}</strong></h2>
                <h2 style="color:white;">{{ socio.cpf }}</h2>
              </div>
            </div>
            <div class="row" style="padding-top:40px;">
              <div class="col text-left">
                <h2 style="color:white;">Plano <strong ng-bind="recuperarPlano()"></strong></h2> 
              </div>
            </div>
          </div>
        </ion-item>

        <div class="row" style="padding-top:20px;">
          <div class="col text-center">
            <img ng-src="{{ retornarLinkQrCode() }}">
            </br>
            {{socio.cpf}}
          </div>
        </div>
      </div> -->

    </div>
  </ion-content>
</ion-view>
