<ion-modal-view>
	<ion-content class="text-center">

		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharCadastro()">
				<img src="img/icon-back.png" style="padding-right: 30px;"/>
				<!-- <i class="ion-chevron-left" style="width: 30px;"></i> -->
				<!-- <span style="vertical-align:middle;">Voltar</span> -->
			</div>
		</div>


	   	<div id="passo-2" ng-if="cadastro.passo == 1" class="list">
			<div class="row">
	     		<div class="col">
	       			<h2 class="text-center gray"><strong>Cadastro</strong></h2>
	       			<span class="gray">Preencha os dados do titular do cartão</span>
	     		</div>
	   		</div>	   		
			<div class="row">
		    	<div class="col">
		       		<div>
				      	<label class="item item-input">
					        <input type="text" placeholder="Nome Completo *" style="color: #fff;text-align:center;" ng-model="cadastro.dados.nome">
				      	</label>
				      	</br>
				      	<label class="item item-input item-floating-label">
					        <input type="tel" placeholder="CPF *" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(11,this)"  ng-model="cadastro.dados.cpf" maxlength="11">
						</label>
				      	</br>
				      	<label class="item item-input item-floating-label">
				        	<input type="email" placeholder="E-mail *" style="color: #fff;text-align:center;" ng-model="cadastro.dados.email" maxlength="60">
				      	</label>
				      	</br>
						<label class="item item-input item-floating-label">
							<input type="tel" placeholder="Telefone *" style="color: #fff;text-align:center;"  onKeyPress="return check(event,value)" onInput="checkLength(11,this)" ng-model="cadastro.dados.telefone">
						</label>
				      	</br>
				      	<label class="item item-input">
				      		<span class="input-label" style="padding-right:0px;width:50px;">Sexo</span>
							  <ion-radio style="font-size:13px;border-style:none" ng-model="cadastro.dados.sexo" ng-value="'mas'">Masculino</ion-radio>
							  <ion-radio style="font-size:13px;border-style:none" ng-model="cadastro.dados.sexo" ng-value="'fem'">Feminino</ion-radio>
			              </select>
				      	</label>
				      	</br>
				      
						<li class="item text-center" style="font-size:14px;">
					        <div class="checkbox" style="padding:0px 12px;margin:-9px;">
		    			      <input type="checkbox" ng-model="cadastro.dados.termo">
		        			</div>
		        			* Aceito os
		        			<a style="text-decoration:underline;" stop-event ng-click="irParaDestino('http://www.clubealoingressos.com.br/termo')">termos e condições</a>
		      			</li>
		      			
					</div>
				</div>
			</div>

			<div class="col" style="font-size:10px;text-align:center;color:#676767;">* Campos de preenchimento obrigatório </div>
			
	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-click="cadastrarAuxiliar()">Continuar</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>



		<div id="passo-2" ng-if="cadastro.passo == 2" class="list">
			<div class="row">
	     		<div class="col">
	       			<h2 class="text-center gray"><strong>CEP</strong></h2>
	       			<span class="gray">Preencha seus dados abaixo</span>
	     		</div>
	   		</div>	   		
			<div class="row">
		    	<div class="col">
		       		<div>	

		       			<div class="item item-input text-center">
					    	<input type="tel" placeholder="CEP" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(8,this)" ng-model="cadastro.dados.cep">
					   		<button item-right class="button btn-primary" style="border-radius:5px;margin-right:5px;" ng-click="buscarCEP()">Pesquisar</button>
					  	</div>
					  	</br>
				      	<label class="item item-input item-floating-label">
				        	<input type="text" placeholder="Rua" style="color: #fff;text-align:center;"  ng-model="cadastro.dados.rua">
				      	</label>
				      	<label class="item item-input item-floating-label">
				        	<input type="text" placeholder="Bairro" style="color: #fff;text-align:center;"  ng-model="cadastro.dados.bairro">
				      	</label>
				      	<label class="item item-input item-floating-label">
				        	<input type="text" placeholder="Cidade" style="color: #fff;text-align:center;"  ng-model="cadastro.dados.cidade" ng-readonly="true">
				      	</label>
				      	<label class="item item-input item-floating-label">
				        	<input type="text" placeholder="UF" style="color: #fff;text-align:center;"  ng-model="cadastro.dados.uf" ng-readonly="true">
				      	</label>
				      	</br>
						<label class="item item-input item-floating-label">
				        	<input id="numero" type="tel" placeholder="Número" style="color: #fff;text-align:center;"  ng-model="cadastro.dados.numero">
				      	</label>					
					</div>
				</div>
			</div>
			
	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-click="cadastrarAuxiliarCEP()">Continuar</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>
	   	</div>


		<div id="passo-1" ng-if="cadastro.passo == 3">

	   		<div ng-show="mostrarPlanos > 0">
				<div class="row" style="padding-top:17%;">
		     		<div class="col">
		       			<h5 class="text-center gray">Escolha um plano</h5>
		     		</div>
		   		</div>
		   		<div class="row" ng-repeat="plano in planos | orderBy: 'preco'">
		   			<div class="col">
		   				<button class="btn btn-large btn-primary button-block" style="font-size:16px" ng-click="selecionarPlano(plano)">
		   					<!-- <strong>{{ plano.titulo }}</strong> - R$ {{ formatarPreco(plano.preco) }} -->
		   					<strong>{{ plano.titulo }}</strong>
		   				</button>
		   				</br></br>
		   			</div>
		   		</div>

		   		<h5 class="text-center gray">ou</h5>

	   		</div>

	   		<div class="row">
	     		<div class="col">
	       			</br>
			   		<div class="item item-input text-center">
					    <input type="text" placeholder="Digite o código" style="color: #fff;text-align:center;" ng-model="cadastro.voucher" maxlength="30"></input>
					    <!-- ng-class="{'btn-disabled' : !cadastro.voucher}"  -->
					    <button class="btn btn-large btn-primary" style="margin-right:5px;" ng-click="validarVoucher()">Validar</button>
					</div>
				</div>
			</div>
	   	</div>

	   	<div id="passo-3" ng-if="cadastro.passo == 4" class="list">
	   		<div class="row">
	     		<div class="col">
	       			<h2 class="text-center gray"><strong>Pagamento</strong></h2>
	       			<span class="gray">Preencha dados do cartão</span>
	     		</div>
	   		</div>
	   		<div class="row">
		    	<div class="col">
			   		<label class="item item-input item-floating-label">
				        <input type="tel" placeholder="Número do cartão" onKeyPress="return check(event,value)" onInput="checkLength(16,this)" style="color: #fff;text-align:center;" ng-model="cadastro.dados.cartao.numero">

			      	</label>
			      	</br>
			   		<label class="item item-input item-floating-label">
				        <input type="text" placeholder="Nome do titular (como está gravado no Cartão)" style="color: #fff;text-align:center;" ng-model="cadastro.dados.cartao.nome" maxlength="25">
			      	</label>
			      	</br>
			      	<label class="item item-input item-floating-label">
				        <input type="tel" placeholder="Código de Segurança (3 números atrás do Cartão)" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)" onInput="checkLength(4,this)" ng-model="cadastro.dados.cartao.cvv">
			      	</label>
			      	</br>
			      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
			      		<div class="input-label" style="color: #fff">Mês da Validade</div>
				        <select ng-model="cadastro.dados.cartao.mes" class="select-account">
				        	<option value="01" selected>01</option>
				        	<option value="02">02</option>
				        	<option value="03">03</option>
				        	<option value="04">04</option>
				        	<option value="05">05</option>
				        	<option value="06">06</option>
				        	<option value="07">07</option>
				        	<option value="08">08</option>
				        	<option value="09">09</option>
				        	<option value="10">10</option>
				        	<option value="11">11</option>
				        	<option value="12">12</option>
				        </select>
			      	</label>
			      	<label class="item item-input item-select" style="background-color: rgba(0,0,0,0.5)">
			      		<div class="input-label" style="color: #fff">Ano da Validade</div>
				        <select ng-model="cadastro.dados.cartao.ano" class="select-account">
				        	<option value="18" selected>2018</option>
				        	<option value="19">2019</option>
				        	<option value="20">2020</option>
				        	<option value="21">2021</option>
				        	<option value="22">2022</option>
				        	<option value="23">2023</option>
				        	<option value="24">2024</option>
				        	<option value="25">2025</option>
				        	<option value="26">2026</option>
				        	<option value="27">2027</option>
				        	<option value="28">2028</option>
				        	<option value="29">2029</option>
				        	<option value="30">2030</option>
				        </select>
			      	</label>
			      	<div class="row">
			      		<div class="col">
			      			<button class="button button-block btn-primary" ng-click="realizarPagamento()">Começar</button>
			      			<ion-spinner ng-if="cadastrando"></ion-spinner>
			      		</div>
			      	</div>
				</div>
			</div>
	   	</div>

	   	<div id="passo-5" ng-if="cadastro.passo == 5" class="list">
	   		<div class="row" style="padding-top:17%;">
	     		<div class="col">
	       			<h2 class="text-center gray"><strong>Login</strong></h2>
	       			<span class="gray">Preencha seus dados abaixo</span>
	     		</div>
	   		</div>
	   		</br>
			<div class="row">
		    	<div class="col">
		       		<div>
				        <label class="item item-input item-floating-label">
				          <input type="tel" placeholder="CPF" class="text-center" onKeyPress="return check(event,value)" onInput="checkLength(11,this)" ng-model="login.cpf" maxlength="11">
				        </label>
				        <br>
				        <label class="item item-input item-floating-label">
				          <input type="password" placeholder="Senha" class="text-center" maxlength="20" ng-model="login.senha">
				        </label>
			     	</div>
			    </div>
		    </div>
		    </br>
			<div class="row">
			    <div class="col text-center">
			      <button class="btn btn-large btn-primary button-block" ng-class="{'btn-disabled' : !(login.cpf && login.senha)}" ng-click="login()">Entrar</button>
			 	</div>
			</div>
			</br>
			<div class="row">
				<div class="col text-center">
			   		<a style="color: red" ng-click="esqueceuSenha()">Esqueceu sua senha?</a>
			   	</div>
			</div>
		</div>

	</ion-content>
</ion-modal-view>