<!-- <ion-view view-title="<div><span style='vertical-align:middle;'></span></div>"> -->
<ion-view>
  
  <ion-content ng-cloak>
  <div ng-if="dadosCarregados">
      <div class="row bg-estabelecimento" style="position: relative; overflow: hidden; max-height: 250px;">
        <div class="col">
          <h1 ng-bind="estabelecimento.nome" style="padding-left: 0px; padding-right: 0px;"></h1>
          <h2 class="text-center"><i class="pink ion-location"></i> <font ng-bind="estabelecimento.distancia"></font></h2>
        </div>
        <img ng-src="{{ trustSrc(recuperarCapa()) }}" />
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col text-center">
          <h3 class="titulo-promocoes">Promoções</h3>
        </div>
      </div>
      <div ng-class="recuperarBackground($index)" ng-repeat="promocao in estabelecimento.promocoes track by $index">
        <div class="row promocao-titulo text-center">
            <div ng-bind="promocao.titulo" class="col-80"></div>
            <div class="col-20" class="socio-estabelecimento">
              <i class="ion-person"></i>
              <span ng-if="promocao.socioMais > 0">+{{ promocao.socioMais }}</span>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="tag-desconto-estabelecimento">
            <span class="tag-desconto-texto">ECONOMIZE</span><br>
            <span class="tag-desconto">
              <div ng-if="promocao.desconto == 0">
                <!-- <img style="vertical-align:middle;" ng-src="img/coin-money.png"></img> -->
                $$$
              </div>
              <div ng-if="promocao.desconto != 0">
                <strong>{{ promocao.desconto }}%</strong>
              </div>
            </span>
            </span>
          </div>
        </div>
        <div class="row" style="margin-top: 40px;">
          <div class="col-60 text-center">
            <h5>
              <i class="ion-calendar"></i> DIAS:</h5>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.segundaFeira}">Seg</span>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.tercaFeira}">Ter</span>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.quartaFeira}">Qua</span>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.quintaFeira}">Qui</span>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.sextaFeira}">Sex</span>
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.sabado}">Sab</span> 
              <span class="estabelecimento-dia" ng-class="{hidden : !promocao.domingo}">Dom</span>
          </div>
          <div class="col-40 text-center">
            <h5>
              <i class="ion-clock"></i> HORÁRIOS:</h5>
              <span class="estabelecimento-dia" ng-bind="recuperarHorarios1(promocao)" ng-if="promocao.horario1 && promocao.horario2"></span>
              <br>
              <span class="estabelecimento-dia" ng-bind="recuperarHorarios2(promocao)" ng-if="promocao.horario3 && promocao.horario4"></span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center" style="padding-top:15px;" ng-bind-html="nl2br(promocao.politica)">
          </div>
        </div>
        </br>
      </div>
    <div class="titulo-promocoes"></div>
    <div class="row">
    <div class="col text-center">
      <h4>Sobre o <span ng-bind="estabelecimento.nome"></span>
      </h4>
      </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <img ng-src="{{ trustSrc(recuperarLogo()) }}" style="border-radius: 99px; width: 50%" />
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align:justify;color:#676767;" ng-bind-html="nl2br(decodeUTF8(estabelecimento.descricao), false)">
        </div>
      </div>
     <div class="row">
        <div class="col text-center">
      <br><a ng-href="tel:{{ estabelecimento.telefone }}" style="font-size: 1.4em;font-weight:bold;"><i class="ion-android-call"></i> {{ estabelecimento.telefone }}</a><br><br>
          <span style="font-size: 1.1em;"><i class="ion-location"></i> {{ estabelecimento.endereco }}, {{ estabelecimento.numero }} - {{ estabelecimento.bairro }}<br>{{ estabelecimento.cidade }}, {{ estabelecimento.cep }}</span>
          <br /><br />
        </div>
      </div>
      <div class="row" style="padding-right:0px; padding-left: 0px; padding-bottom:0px;">
        <div class="col" ng-if="estabelecimento.site.length > 0">
          <!-- <button ng-click="irParaDestino(estabelecimento.site)" class="button button-block">
            Ver site
          </button> -->
          <a class="button button-block" ng-click="irParaDestino(estabelecimento.site)">Ver site</a>
        </div>
        <div class="col" ng-if="estabelecimento.facebook.length > 0">
          <!-- <button ng-click="irParaDestino(estabelecimento.facebook)" class="button button-facebook button-block"> -->
            <!-- <button href="http://www.facebook.com.br" class="button button-facebook button-block"> -->
            <a class="button button-facebook button-block" ng-click="irParaDestino(estabelecimento.facebook)">Ver facebook</a>
            <!-- Ver facebook -->
          <!-- </button> -->
        </div>
      </div>
      <iframe width='425' height='200' frameborder='0' ng-if="estabelecimento.urlMaps.length > 0"
                scrolling='no' marginheight='0' marginwidth='0'
                ng-src='{{ trustSrc(estabelecimento.urlMaps) }}'>
      </iframe>
      <!-- <div class="row">
        <div class="col">
          <a href="{{ irParaDestino(estabelecimento.urlMaps) }}" class="button button-energy button-block button-square">Ver Mapa</a>
        </div>
      </div> -->

    </div>
  </ion-content>
</ion-view>
