<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>{{ estabelecimentoCategoria }}</span></div>"> -->
<ion-view>
  <ion-content>
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>
    <div class="list" style="margin-bottom:0px;">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pesquise por nome, bairro, rua ou categoria..." ng-model="busca.nome" ng-enter="fecharTeclado()" style="width:285px">
        </label>
        <button class="button button-small" ng-click="busca.nome = ''">
          <i class="icon-close"></i>
        </button>
      </div>
  	  <div class="row" style="padding-bottom:10px;">
    	  <div class="col-50 text-center">
          <h5 class="gray text-center" style="margin-top:5px;margin-bottom:5px;">Ordenar:</h5>
          <button class="button btn-filter" ng-click="orderOption(1)" ng-class="recuperarFiltroAtivo(1)"><i class="ion-location"></i> Distância </button>
          &nbsp;
          <button class="button btn-filter" ng-click="orderOption(0)" ng-class="recuperarFiltroAtivo(0)"><i class="ion-levels"></i> Nome </button>
    	  </div>
    	  
    	  <div class="col-50 text-center">
      	  <h5 class="gray text-center" style="margin-top:5px;margin-bottom:5px;">Filtrar:</h5>
      	  <button class="button btn-filter" ng-click="trocarDia()"><i class="ion-calendar"></i>&nbsp;{{ buscarNomeDia() || 'Dia ' }}</button>
          &nbsp;
          <button class="button btn-filter active" ng-click="trocarCidade()"><i class="ion-location"></i>&nbsp;{{ cidade || 'Cidade ' }}</button><br>

      		<span class="btn-text;" style="font-size:0.8em;" ng-click="limparFiltros()" ng-if="buscarNomeDia()"><i class="ion-close"></i> Ver todas as datas</span>

    	  </div>
  
  	  </div>
    </div>

    <div class="row" ng-if="estFiltrados.length == 0">
        <div class="col text-center">
          <ion-spinner icon="spiral"></ion-spinner>
        </div>
    </div>

    <ion-list class="estabelecimentos-div">   
      <a class="item item-thumbnail-left item-icon-right" ng-click="irParaEstabelecimento(estabelecimento.id)" 
      ng-repeat="estabelecimento in (retorno = (estFiltrados | filter:{cidade:cidade, $:busca.nome} | orderBy: getOrder()))" ng-if="estabelecimento.status == 'a'" style="padding-top:12px;padding-bottom:10px;">
        <img ng-src="{{ recuperarImagem(estabelecimento) }}" style="object-fit:cover">
		    <span class="discount-tag">
          <div ng-if="calcularDesconto(estabelecimento.promocoes) == 0">
            <!-- <img style="vertical-align:middle;" ng-src="img/coin-money.png"></img> -->
            $$$
          </div>
          <div ng-if="calcularDesconto(estabelecimento.promocoes) != 0">
            <strong>{{ calcularDesconto(estabelecimento.promocoes) }}%</strong>
          </div>
        </span>
        <h2><strong>{{ estabelecimento.nome }}</strong></h2>
        <h4><i>{{ estabelecimento.categoria.nome }}</i></h4>
        <h4>{{ estabelecimento.bairro }} <font ng-bind="obterDistanciaEstabelecimento(estabelecimento)"></font></h4>
        <h4 class="gray">{{ formatarDias(estabelecimento.promocoes) }}</h4>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>

    <div class="row" ng-show="retorno.length == 0 && estFiltrados.length != 0">
      <div class="col text-center">
        <h3><BR><BR>Nenhum estabelecimento encontrado. <BR><BR>Altere os filtros para uma nova busca.</h3>
      </div>
    </div>

  </ion-content>
</ion-view>
