<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Shows & Eventos</span></div>"> -->
<ion-view>
  
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back" style="color:white"></i>
  </ion-nav-back-button>
  <ion-content>
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>
    <div class="list" style="margin-bottom:0px;">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pesquise por nome..." ng-model="busca.nome" ng-enter="fecharTeclado()" style="width:285px">
        </label>
        <button class="button button-small" ng-click="busca.nome = ''">
          <i class="icon-close"></i>
        </button>
      </div>
	  </div>
    <div class="row text-center" style="padding-bottom:10px;">
	     <div class="col-50" style="padding-top:0px;padding-bottom:0px;">
		      <h5 class="gray" style="margin-top:5px;margin-bottom:5px;">Ordenar:</h5>
            <button class="button btn-filter" ng-click="orderOption(1)" ng-class="recuperarFiltroAtivo(0)"><i class="ion-calendar"></i>&nbsp;Data</button>&nbsp;&nbsp;
            <button class="button btn-filter" ng-click="orderOption(0)" ng-class="recuperarFiltroAtivo(1)"><i class="ion-levels"></i>&nbsp;Nome</button>&nbsp;&nbsp;
        </div>
        <div class="col-50 text-center">
          <h5 class="text-center gray" style="margin-top:5px;margin-bottom:5px;">Filtrar:</h5>
          <button class="button btn-filter active" ng-click="trocarCidade()"><i class="ion-location"></i>&nbsp;{{ cidade || 'Cidade ' }}</button><br>
        </div>
	   </div> 
    <ion-list>
      <div class="row" ng-if="eventos.length == 0">
        <div class="col text-center">
          <ion-spinner icon="spiral"></ion-spinner>
        </div>
      </div>

      <a class="item item-thumbnail-left item-icon-right" ng-repeat="evento in (retorno = (eventos | filter:{cidade:cidade, $:busca.nome} | orderBy: getOrder()))" ng-click="irParaEvento(evento)">
        <img ng-src="{{ recuperarImagem(evento) }}" style="object-fit:cover;">
        <h3 style="padding-top:0px;"><strong>{{ evento.titulo }}</strong></h3> <!-- white-space:normal -->
        <h4 style="padding-top:5px;"><i class="ion-calendar"></i> {{ formatarData(evento.data) }}</h4>
        <h4 style="padding-top:5px;"><i class="ion-location"></i> {{ evento.local }}</h4>
        <h5 style="padding-top:2px;">{{ evento.cidade }} | {{evento.estado}}</h5>

        <span class="discount-tag">
          <div ng-if="evento.desconto == 0">
           $$$
          </div>
          <div ng-if="evento.desconto != 0">
            <strong>{{ evento.desconto }}%</strong>
          </div>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>

    <div class="row" ng-show="retorno.length == 0 && eventos.length != 0">
      <div class="col text-center">
         <h3><BR><BR>Nenhum evento/show encontrado. <BR><BR>Altere os filtros para uma nova busca.</h3><BR></h3>
      </div>
    </div>

    <div class="row padding">
      <button class="btn btn-large btn-default button-block" ng-click="irParaDestino('http://www.aloingressos.com.br')">Ver mais shows & eventos</button>
    <div>

  </ion-content>
</ion-view>
