<ion-view hide-nav-bar="true" title="" id="view-landing">
 <ion-content class="bg-blue padding text-center" style="background: #f1f1f1;">
   <img src="img/logo.png" style="width:100%; padding-top:40px"/>
   <div class="row">
     <div class="col">
       <h4 class="black text-center">Entre para um mundo de vantagens exclusivas.</h4>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <div class="list list-inset">
        <label class="item item-input text-center">
          <input type="number" placeholder="CPF" class="text-center" onKeyPress="return check(event,value)" onInput="checkLength(11,this)" ng-model="login.cpf" maxlength="11" style="padding-right:16px;">
        </label>
        <label class="item item-input text-center">
          <input type="password" placeholder="Senha" class="text-center" maxlength="20" ng-model="login.senha"  style="padding-right:16px;">
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-large btn-primary button-block" ng-click="login()">Acessar</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a ng-click="esqueceuSenha()">Esqueceu sua senha?</a>
    </div>
  </div>
  </br>
  </br>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-default btn-large button-block" ng-click="criarConta()">Não é um associado? Clique aqui</button>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col text-center">
      <a class="btn" ng-click="verBeneficios()">Veja os benefícios sem uma conta</a>
    </div>
  </div>
 </ion-content>
</ion-view>
