<ion-view hide-nav-bar="true" title="" id="view-landing">
  <ion-content scroll="false" class="bg-blue padding text-center" style="background: #f1f1f1;">
    <div style="width:95%;position:absolute; bottom:70%;">
      <img src="img/logo.png" style="width:100%;"/>
    </div>
   <div class="row" style="position: absolute; bottom:50%; width:95%">
     <div class="col">
       <h4 class="black text-center">Entre para um mundo de vantagens exclusivas.</h4>
     </div>
   </div>
  <div class="item item-input text-center" style="position: absolute; bottom: 30%; width: 95%" >
    <input type="text" placeholder="Digite o código do convite" style="color: #fff;text-align:center;" ng-model="cadastro.voucher" maxlength="30">
    <button item-right class="btn btn-large btn-primary" style="border-radius:5px;margin-right:5px;" ng-click="validarVoucher()">Validar</button>
  </div>
  <div class="col text-center" style="position: absolute; bottom: 20%; width:95%" >
    <button class="btn btn-large btn-default button-block" ng-click="preecherSolicitarVoucher()">Não tem um cadastro? Faça aqui</button>
  </div>
    <div class="col text-center" style="position:absolute; bottom:10%; width:95%">
      <button class="btn btn-large btn-default button-block" ng-click="irLogin()">Já tenho login</button>
    </div>
  </br>
  <div class="row" style="position: absolute; bottom: 2%; width:95%" >
    <div class="col text-center">
      <a class="btn btn-link" ng-click="verBeneficios()">Veja os benefícios sem uma conta</a>
    </div>
  </div>
 </ion-content>
</ion-view>

