<ion-view hide-nav-bar="true" title="" id="view-landing">
  <!-- <ion-content scroll="false" class="padding text-center" style="background: #EA1F2D;"> -->
  <ion-content scroll="false" class="padding text-center tela-inicial">
  
    <img src="img/logo_branco.png" style="width:60%; padding-top:80px"/>
    
    <div class="col" style="text-align: left; position: absolute; bottom: 28%; width:95%" >  
      <button class="btn btn-large btn-second button-block" style="text-align: center" ng-click="criarConta(false)">
        <!-- <img style="width:10%; vertical-align:middle;" src="img/icon-cadastro.png"> -->
        Entre para o Clube
      </button>
    </div>
    
    </br>
    <div class="col" style="position:absolute; bottom:16%; width:95%">
      <button class="btn btn-large btn-second button-block" style="text-align: center" ng-click="criarConta(true)">
        <!-- <img style="width:10%; vertical-align:middle;" src="img/icon-cadeado.png"> -->
          Baixe o seu Ingresso
      </button>
    </div>

    <div class="row" style="position: absolute; bottom: 7%; width:95%" >
      <div class="col text-center">
        <a class="btn btn-link" ng-click="irLogin()" style="color:white">Já faz parte do Clube? Acesse sua conta</a>
      </div>
    </div>
    
 </ion-content>
</ion-view>

