<ion-modal-view>
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharModalCidade()">
				<img src="img/icon-back.png" style="padding-right: 30px;"/>
			</div>
		</div>
		</br>
		<span>Escolha a cidade:</span>
		<div class="row row-dia" ng-repeat="cidade in cidades | orderBy:'cidade'">
			<div class="col text-center">
				<h3 ng-click="trocarCidadePara(cidade.cidade)">{{ cidade.cidade }}</h3>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
