<ion-modal-view>
	<ion-content class="text-center">
<!-- 		<div class="title title-left header-item" style="background-color: #d60b52;">
			<div style="display:table-cell; padding: 5px; background-color: #d60b52;color: white;" ng-click="fecharModalDia()"> -->
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharModalDia()">
				<img src="img/icon-back.png" style="padding-right: 30px;"/>
				<!-- <i class="ion-chevron-left" style="width: 30px;"></i> &nbsp;
				<span style="vertical-align:middle;">Voltar</span> -->
			</div>
		</div>
		</br>
		<span>Escolha um dia da semama:</span>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(1)" ng-class="classeDia(1)">Segunda-feira</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(2)" ng-class="classeDia(2)">Terça-feira</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(3)" ng-class="classeDia(3)">Quarta-feira</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(4)" ng-class="classeDia(4)">Quinta-feira</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(5)" ng-class="classeDia(5)">Sexta-feira</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(6)" ng-class="classeDia(6)">Sábado</h3>
			</div>
		</div>
		<div class="row row-dia">
			<div class="col text-center">
				<h3 ng-click="trocarDiaPara(0)" ng-class="classeDia(0)">Domingo</h3>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
