<ion-modal-view class="manual-ios-statusbar-padding">
	<ion-content class="text-center">
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharBemVindo()">
				<i class="ion-chevron-left" style="width: 30px;"></i> &nbsp;
				<span style="vertical-align:middle;">Começar</span>
			</div>
		</div>
	
		<div>
			</br>
		</div>
		<div class="row">
			<div class="col text-center" style="margin-bottom:0px; padding-bottom:0px;">
				<h3 style="margin-bottom:0px">Bem-vindo ao</h3>
			</div>
		</div>
		<div class="row">
			<div class="col">
	  			<img src="img/logo.png" style="width:100%;" />
	  		</div>
		</div>
		<div class="row" style="padding-right:20px;padding-left:20px;">
			<div>
				<h5>Agora você faz parte do exclusivo Clube Alô Ingressos.</h5>
				</br>
				<h5>Comece agora a economizar, aproveitando nossos descontos e promoções nos melhores estabelecimentos.</h5>
				</br>
				<h5>Basta escolher o seu estabelecimento em nosso app e no momento de pagar a conta informar que é do Clube Alô Ingressos.</h5>
				</br></br>
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<button class="btn btn-large btn-primary button-block" ng-click="fecharBemVindo()">Comece agora</button>
		    </div>
		</div>

	</ion-content>
</ion-modal-view>
