<ion-modal-view class="manual-ios-statusbar-padding">
	<ion-content class="text-center">
		<!-- div class="title header-item" style="background-color: #d60b52;">
			<div style="display:table-cell; padding: 5px; background-color: #d60b52;color: white;" ng-click="fecharFaturas()"> -->
		<div class="title title-left header-item" style="height:43px;">
			<div style="display:table-cell; padding:10px; color:white;" ng-click="fecharFaturas()">
				<img src="img/icon-back.png" style="padding-right: 30px;"/>
				<!-- <i class="ion-chevron-left" style="width: 30px;"></i> &nbsp;
				<span style="vertical-align:middle;">Voltar</span> -->
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h2>Cartões & Faturas</h2>
			</div>
		</div>
		<div class="row">
			<div class="col"><button class="btn-primary btn btn-large" ng-click="alterarCartao()"><i class="ion-card"></i>&nbsp;Alt. cartão</button></div>
			<div class="col"><button class="btn-primary btn btn-large" ng-click="alterarPlano()"><i class="ion-ios-cart"></i>&nbsp;Alt. plano</button></div>
		</div>
		<hr />
		<div class="row" ng-if="cartoes.length == 0">
			<div class="col">
				<h5>Você ainda não tem cartões.</h5>
			</div>
		</div>
		<div class="row" ng-if="cartoes.length > 0">
			<div class="col-50">
				<strong>#</strong>
			</div>
			<div class="col">
				<strong>Bandeira</strong>
			</div>
		</div>
		<div class="row" ng-repeat="cartao in cartoes track by $index" ng-if="cartao.id == socio.iugu.card.id">
			<div class="col-50">{{ cartao.first_digits }}XXXXXX{{ cartao.last_digits }}</div>
			<div class="col">{{ cartao.brand }}</div>
		</div>
		<hr />
		<div class="row" ng-if="faturas.length == 0">
			<div class="col">
				<h5>Você ainda não tem faturas.</h5>
			</div>
		</div>
		<div class="row" ng-if="faturas.length > 0">
			<div class="col">
				<strong>Data</strong>
			</div>
			<div class="col">
				<strong>Preço</strong>
			</div>
			<div class="col">
				<strong>Status</strong>
			</div>
			<div class="col">
				<strong>Cartão</strong>
			</div>
		</div>
		<div class="row" ng-repeat="fatura in faturas" ng-if="faturas.length > 0">
			<div class="col">
				{{ formatarData(fatura.date_created) }}
			</div>
			<div class="col">
				R${{ formatarPreco(fatura.amount) }}
			</div>
			<div class="col">
				{{ fatura.status == "paid" ? "Pago" : "Em aberto" }}
			</div>
			<div class="col">
				{{ fatura.payment_method == "boleto" ? "Boleto" : fatura.card.last_digits }}
				<!-- {{ fatura.card.last_digits }} -->
			</div>
		</div>
	</ion-content>
</ion-modal-view>