<ion-view>

	<ion-content>

	   	<div class="list">
			<div class="row">
	     		<div class="col">
	       			<h4 class="text-center gray"><strong>Conquiste seu sonho</strong></h4>
	       			<span class="gray">Iremos te ajudar a realizar aquele seu sonho que falta apenas um empurrãozinho para conseguir conquistar.</span>
	     		</div>
	   		</div>	
	   		</br>
			<div class="row">
		    	<div class="col">
		       		<div>

						<label class="item item-input item-select">
				            <div class="input-label">
				              Sonho:
				            </div>
				            <select ng-model="sonho.tipo" class="select-account">
				              <option value="1">Trocar de celular</option>
				              <option value="2">Fazer uma viagem</option>
				              <option value="3">Comprar uma roupa nova</option>
				              <option value="4">Assistir um show do seu ídolo</option>
				              <option value="5">Ir naquela festa tão esperada</option>
				              <option value="9">Outro</option>
				            </select>
			          	</label>

			          	</br>

				      	<label class="item item-input">
				      		<div class="input-label">
				              Quanto você gastaria?
				            </div>
					        <input ng-model="sonho.quanto" type="number" placeholder="R$ 100,00" style="color: #fff;text-align:center;" onKeyPress="return check(event,value)">
				      	</label>

				      	</br>
		
						<label class="item item-input">
							<div class="input-label">
				              Quando quer realizar?
				            </div>
					        <input ng-model="sonho.quando" type="date" style="color: #fff;text-align:center;">
				      	</label>

				      	</br>

					</div>
				</div>
			</div>

	      	<div class="row">
	      		<div class="col">
	      			<button class="button button-block btn-primary" ng-click="calcular(sonho)">Calcular</button>
	      			<ion-spinner ng-if="cadastrando"></ion-spinner>
	      		</div>
	      	</div>


			
	        <h4 ng-hide="meta == 0" class="text-center gray"><strong>Você precisa economizar R$ {{ meta.toFixed(2).replace('.', ',') }} por dia</strong></h4>
	              

	   	</div>

	</ion-content>
</ion-view>
