<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Minhas Economias</span></div>"> -->
<ion-view>
	
	  <ion-nav-buttons side="left">
	    <button class="button button-icon ion-navicon" ng-click="openMenu()"></button>
	  </ion-nav-buttons> 
	

	<ion-content padding="false">

    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="pullToRefresh()">
    </ion-refresher>

    </br>

		<div class="row" ng-if="transacoes.length == 0">
      <div class="col text-center">
          <h3>Você ainda não utilizou o Clube Alô Ingressos</h3>
          <p>Aproveite e comece a economizar já em nossos parceiros.</p>
          <small>Suas economias aparecerão aqui</small>
        </div>
      </div>

      
      <div ng-if="transacoes.length > 0">
        <div class="text-center">
          <h3 style="color:black;margin-bottom:0px;font-size:16px">Total Economizado</h3>
          <h2 style="color:black;margin-bottom:20px;margin-top:0px"><strong>R$ {{ somaTransacoes.toFixed(2).replace('.', ',') }}</strong></h2>
        </div>

        <div class="text-center">
          <h5 class="text-center gray"><strong>ÚLTIMAS TRANSAÇOES</strong></h5>
        </div>
      </div>

    	<div class="row" style="padding: 0px;">
        <div class="col">
          <div class="list" ng-if="aba == 0 && transacoes.length > 0 && socioLogado">
            <div class="item item-divider" style="font-size: 11px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;">
              <div class="row">
                <div class="col-40 text-left">Estabelecimento</div>
                <div class="col-20 text-center">Valor</div>
                <div class="col-20 text-right">Economia</div>
                <div class="col-20 text-center">Nota</div>
              </div>
            </div>
            <div class="row" style="font-size:12px;padding-right:0px;" ng-repeat="item in transacoes track by $index">
              <div class="col-40"><strong>{{ item.estabelecimento.nome }}</strong><br><small>{{ formatarData(item.createdAt) }}</small></div>
              <div class="col-20 text-right">R$ {{ item.valor.toFixed(2).replace('.', ',') }}</div>
              <div class="col-20  text-right"><strong>R$ {{ item.valorDesconto.toFixed(2).replace('.', ',') }}</strong>
              </div>

              <div class="col-20 text-center">
                <a ng-if="!item.nota" ng-click="avaliarTransacao(item)">Avaliar</a>
                <i ng-class="buscarIconeNota(item.nota)" ng-click="editarNota(item, $index)" ng-if="item.nota > 0"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	</ion-content>

</ion-view>