<!-- <ion-view view-title="<div style='display:table-cell'><img src='img/IconLogo.png' style='width:30px;vertical-align:middle;' /> <span style='vertical-align:middle;'>Minha Economia</span></div>"> -->
<!-- <ion-view view-title="<div style='display:table-cell'><span style='vertical-align:middle;'>Minha Economia</span></div>">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select" style="border:none; border: 1px solid #d0d0d0">
        <div class="input-label">
          Período
        </div>
        <select>
          <option>Tudo</option>
          <option>60 dias</option>
          <option>30 dias</option>
          <option selected>Duas semanas</option>
          <option>7 dias</option>
        </select>
      </label>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col text-center">
        <h4 style="margin-bottom: 20px;">Mario, você já economizou <strong>R$97,09</strong> no período selecionado!</h4>
        <small>Veja abaixo os detalhes de sua economia</small>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-50">Parceiro</div>
          <div class="col">Total</div>
          <div class="col">Economia</div>
        </div>
      </div>
      <a class="item" href="#" style="font-size:14px;">
        <div class="row">
          <div class="col col-50">+55</div>
          <div class="col text-right">R$ 175,90</div>
          <div class="col green text-right"><strong>R$ 52,77</strong></div>
        </div>
      </a>
      <a class="item" href="#" style="font-size:14px;">
        <div class="row">
          <div class="col col-50">Babilônia Batel</div>
          <div class="col text-right">R$ 92,75</div>
          <div class="col green text-right"><strong>R$ 27,82</strong></div>
        </div>
      </a>
      <a class="item" href="#" style="font-size:14px;">
        <div class="row">
          <div class="col col-50">Domino's Batel</div>
          <div class="col text-right">R$ 55,00</div>
          <div class="col green text-right"><strong>R$ 16,50</strong></div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view> -->
