<!-- <ion-view view-title="<div><span style='vertical-align:middle;'> Pesquisar</span></div>"> -->
<ion-view>
  <ion-content>
    <ion-list style="border-style:none;">
      <ion-item class="item-remove-animate text-center" type="item-text-wrap" ng-click="irParaEstabelecimentos()"
        style="background: url('http://cikluslive.com.br/admin/uploads/app-cat-todos.jpg'); object-fit: cover; vertical-align: middle; padding: 0px;border-style:none;">
        <div style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); padding:45px;">
          <h1 style="color: #fff; font-weight: bold;font-size:1em;">TODOS</h1>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate text-center" ng-click="irParaEventos()" 
        style="background: url('http://cikluslive.com.br/admin/uploads/app-cat-show.jpg'); object-fit: cover; vertical-align: middle; padding: 0px;border-style:none;">
        <div style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); padding:45px;">
          <h1 style="color: #fff; font-weight: bold;font-size:1em;">SHOWS & EVENTOS</h1>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate text-center" ng-repeat="categoria in categorias" type="item-text-wrap" ng-click="irParaEstabelecimentos(categoria)" 
        style="background: url('http://cikluslive.com.br/admin/uploads/app-cat-{{ categoria.id }}.jpg'); object-fit: cover; vertical-align: middle; padding: 0px;border-style:none;">
        <div style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); padding:45px;">
          <h1 style="color: #fff; font-weight: bold;font-size:1em;text-transform:uppercase;">{{categoria.nome}}</h1>
        </div>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>
