<!-- <ion-view view-title="<div><span style='vertical-align:middle;'>Dados</span></div>"> -->
<ion-view>
	
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons> 
	
  <ion-content padding="false">
		
        <div class="list" style="padding-top: 10px;">
          <label class="item item-input">
            <span class="input-label">Nome:</span>
            <input type="text" placeholder="Seu nome" ng-model="socio.nome">
          </label>
          <label class="item item-input">
            <span class="input-label">CPF:</span>
            <input type="text" placeholder="CPF" ng-model="socio.cpf" ng-readonly="true"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">E-mail:</span>
            <input type="text" placeholder="E-mail" ng-model="socio.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Dt. Nasc.:</span>
            <input type="text" placeholder="Data de nascimento" ng-model="socio.dataNasc">
          </label>
          <label class="item item-input">
            <span class="input-label">Telefone:</span>
            <input type="tel" placeholder="Telefone" ng-model="socio.telefone">
          </label>
          <label class="item item-input">
            <span class="input-label">CEP:</span>
            <input type="tel" placeholder="CEP" ng-model="socio.cep">
          </label>
          <label class="item item-input">
            <span class="input-label">Número:</span>
            <input type="tel" placeholder="Número" ng-model="socio.numero">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Sexo:
            </div>
            <select ng-model="socio.sexo" class="select-account">
              <option value="fem">Feminino</option>
              <option value="mas">Masculino</option>
            </select>
          </label>

          <button class="button button-block btn-primary" style="margin-top:20px;" ng-click="salvar()">Salvar</button>
        </div>

	</ion-content>

</ion-view>