<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <ion-tab icon-off="icon-perfil" icon-on="icon-perfil" title="MEU PERFIL" ng-click="irParaPerfil()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-categorias" icon-on="icon-categorias" title="CATEGORIAS" ng-click="irParaCategorias()">
    <ion-nav-view name="tab-categorias"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-shows" icon-on="icon-shows" title="SHOWS" ng-click="irParaEventos()">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-pedidos" icon-on="icon-pedidos" title="MEUS INGRESSOS" ng-click="irParaPedidos()">
    <ion-nav-view name="tab-pedidos"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="icon-novidades" icon-on="icon-novidades" title="NOVIDADES" ng-click="irParaNovidades()" badge="retornaQtde()" badge-style="badge-positive">
    <ion-nav-view name="tab-novidades"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab icon-off="ion-wand" icon-on="ion-wand pink" title="Sonho" ng-click="irParaSonho()">
    <ion-nav-view name="tab-sonho"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
